
<div nz-row>
  <div nz-col nzSpan="16">
    <nz-card [nzTitle]="cardTitle">
      <ng-template #cardTitle>
        <span> Add A Locality</span>
      </ng-template>
      <form nz-form [formGroup]="myForm">
        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="CountryName" nzRequired> City</nz-form-label>
              <nz-form-control class="countryListDropdown">
                <nz-select id="CountryName" formControlName="CityID" nzShowSearch
                  nzPlaceHolder="Select City">
                  <nz-option *ngFor="let item of cityList; let i=index" [nzValue]="item"
                    [nzLabel]="item.city_name"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="LocalitySerialNumber">S.No.</nz-form-label>
              <nz-form-control nzErrorTip="please Enter Locality Serial Number!">
                <input formControlName="Locality_Serial" id="LocalitySerialNumber" type="text" nz-input name="localitySerial">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="CitySerialNumber">Title</nz-form-label>
              <nz-form-control nzErrorTip="please Enter Locality title!">
                <input formControlName="Locality_Title" id="CitySerialNumber" type="text" nz-input name="citySerial">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="CitySerialNumber">Locality Polygon Color</nz-form-label>
              <nz-form-control nzErrorTip="please Enter Locality title!">
                <input type="color" id="favcolor"  formControlName="fillColor" >
              </nz-form-control>
            </nz-form-item>
          </div>
          </div>
         
         
          <div nz-row>
            <div nz-col nzSpan="4" [nzOffset]="18">
          <nz-form-item>
            <nz-form-control>
              <button (click)="onSubmitLocality()" nzBlock [nzLoading]="isBtnLoading" nz-button class="submitButton"
                [disabled]="polygonPaths.length==0">
                <span>Add Locality</span></button>
            </nz-form-control>
          </nz-form-item>
            </div>
          </div>
          <div nz-row style="margin-top: 10px;">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control [nzSpan]="24">
                <div id="map"></div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
       
      </form>
    </nz-card>
  </div>
</div>