<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="isVisible?14:24">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="isVisible ? 7 : 5">
        <div class="form-group">
          <p class="no-margin" for="userBlocked">Search By City Name <sup>*</sup></p>
          <nz-input-group [nzSuffix]="suffixIconSearch1">
            <input type="text" nzAllowClear [formControl]="searchCityName" (ngModelChange)="searchCity($event)" nz-input
              placeholder="City Name" />
          </nz-input-group>
          <ng-template #suffixIconSearch1>
            <i class="fal fa-search"></i>
          </ng-template>
        </div>
      </div>
      <div nz-col [nzSpan]="isVisible ? 7 : 5">
        <div class="form-group">
          <p class="no-margin" for="userBlocked">Search By Locality <sup>*</sup></p>
          <nz-input-group [nzSuffix]="suffixIconSearch" nzAllowClear>
            <input type="text" [formControl]="searchLocalityName" (ngModelChange)="searchCity($event)" nz-input
              placeholder="Locality" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i class="fal fa-search"></i>
          </ng-template>
        </div>
      </div>
      <div nz-col [nzSpan]="5" class="text-right" *ngIf="!isVisible">
        <button nz-button nzType="primary" (click)="create(1)"><i class="fas fa-plus"></i> Create City</button>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false" nzTableLayout="fixed">
          <thead>
            <tr>
              <th><i class="fas fa-list-ol"></i> S.No.</th>
              <th><i class="fas fa-search-location"></i> City Name</th>
              <th><i class="fas fa-calendar-check"></i> Updated at</th>
              <th><i class="fas fa-edit"></i> Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of tableList;index as AI;">
              <tr>
                <td>{{data.s_no}}</td>
                <td>{{data.city_name}}</td>
                <td>{{ data.updatedAt | date }}</td>
                <td class="text-left">
                  <a class="pending" nz-dropdown [nzDropdownMenu]="menu">
                    <i nz-icon nzType="down"></i>
                  </a>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item (click)="create(2, data)">Edit City</li>
                      <li nz-menu-item>
                        <a class="delete" nz-popconfirm nzPopconfirmTitle="Are you sure delete this City?"
                          nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data)" (nzOnCancel)="cancel()">
                          Delete
                        </a>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
        <div class="text-center p-2">
          <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
            [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)" [nzTotal]="count"
            [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)" [nzShowTotal]="rangeTemplate">
          </nz-pagination>
          <ng-template #totalTemplate let-total>
            Total {{ total }} items
          </ng-template>
          <ng-template #rangeTemplate let-range="range" let-total>
            {{ range[0] }}-{{ range[1] }} of {{ total }} items
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div nz-col [nzSpan]="10" *ngIf="isVisible">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h4 class="text-center">{{isEditing?'Update':'Create'}} City</h4>
        <div class="form-group">
          <label for="sno">S.No. <sup>*</sup></label>
          <input nz-input nzPlaceHolder="Serial No" type="text" [(ngModel)]="sno" id="sno" class="form-control" />
        </div>
        <div class="form-group">
          <label for="name">City Name <sup>*</sup></label>
          <input nz-input nzPlaceHolder="City Name" type="text" [(ngModel)]="name" id="name" class="form-control" />
        </div>
        <nz-form-item>
          <nz-form-label>Location</nz-form-label>
          <nz-form-control nzErrorTip="Please input City Address!">
            <nz-input-group>
              <input type="text" id="pac-input" nz-input [(ngModel)]="address" (keypress)="onMapIntilized()"
                placeholder="City Address" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-row style="margin-top: 10px;">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control [nzSpan]="24">
                <div id="map" *ngIf="isVisible"></div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <button nz-button class="login-form-button login-form-margin" style="margin-right: 10px;"
          (click)="handleCancel()"><i nz-icon nzType="close" nzTheme="outline"></i>Cancel</button>
        <button nz-button [nzLoading]="isBtnLoading" class="login-form-button login-form-margin" (click)="handleOk()"
          [nzType]="'primary'">{{isEditing?'Update':'Create'}}</button>
      </div>
    </div>
  </div>
</div>


<!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="Create City" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
</nz-modal> -->