<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-lg-9">
            <h3>{{type ? 'Create' : 'Update'}}  {{type ? 'Admin' : 'Password'}}</h3>
        </div>
        <div class="col-md-3 col-lg-3">
            <!-- <button nz-button nzType="primary" (click)="createAdmin()">Primary Button</button> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6">
            <form nz-form [formGroup]="createAdminForm">
                <div class="form-group">
                    <label for="name">Name <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Name"
                      type="text"
                      formControlName="name"
                      id="name"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email">Email <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Email"
                      type="email"
                      formControlName="email"
                      id="email"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">Password <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Password"
                      type="password"
                      formControlName="password"
                      id="password"
                      class="form-control"
                    />
                  </div>
                  <div class="container-fluid" *ngIf="type === true">
                    <div class="row base-margin-bottom">
                        <div class="col-md-12 col-lg-12">
                            <h4 class="text-center">Permissions</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Admin</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_admins">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Banners</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_banners">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Buyers</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_buyers">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Categories</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_categories">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Coupons</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_coupons">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Orders</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_orders">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Products</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_products">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Vendors</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_vendors">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Wholesale Banners</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_wholesale_banners">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Wholesale Categories</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch
                                            formControlName="manage_wholesale_categories">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Wholesale Coupons</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_wholesale_coupons">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Wholesale Orders</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_wholesale_orders">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div nz-row style="border-bottom: 1px dashed #ddd;">
                                        <div nz-col nzSpan="18">
                                            <p class="profile-text">Manage Wholesale Products</p>
                                        </div>
                                        <div nz-col nzSpan="6">
                                            <nz-switch formControlName="manage_wholesale_products">
                                            </nz-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="text-right">
                      <button nz-button nzType="default" class="base-margin-right" (click)="cancel()">Cancel</button>
                      <button nz-button nzType="primary" (click)="createAdmin()" *ngIf="type === true" [disabled]="!createAdminForm.valid">Create</button>
                      <button nz-button nzType="primary" (click)="updatePwd()" *ngIf="type === false" [disabled]="!createAdminForm.valid">Update Password</button>
                  </div>
            </form>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
</div>