<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-lg-9">
            <h3>Buyers</h3>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
               <div class="col-md-3 col-lg-3">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" [(ngModel)]="searchVendor" (ngModelChange)="searchVendorByPhone($event)" nz-input placeholder="Search Buyer by Phone" />
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <i class="fal fa-search"></i>
                  </ng-template>
               </div> 
            </div>
            <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th nzWidth="60px"></th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of tableList;index as AI;">
                        <tr>
                            <td [nzExpand]="view === AI"
                                (nzExpandChange)="onExpandChange(AI, $event)">
                            </td>
                            <td>{{ data.name | titlecase }}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.phone_number}}</td>
                            <td class="text-left">
                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Buyer?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(data)"
                                    (nzOnCancel)="cancel()">
                                    <i nz-icon nzType="delete" nzTheme="fill" style="color: #f00;"></i>
                                </a>
                            </td>
                        </tr>
                        <tr [nzExpand]="view === AI">
                            <div class="container-fluid">
                                <div class="row base-margin-bottom" *ngIf="vendorData">
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Name:</strong></p>
                                        <span *ngIf="vendorData.name">{{vendorData.name}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Phone Number:</strong></p>
                                        <span *ngIf="vendorData.phone_number">{{vendorData.phone_number}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>E-mail:</strong></p>
                                        <span *ngIf="vendorData.email">{{vendorData.email}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Created:</strong></p>
                                        <span *ngIf="vendorData.created_on">{{vendorData.created_on | date}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Created:</strong></p>
                                        <span *ngIf="vendorData.created_on">{{vendorData.created_on | date}}</span>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <div class="text-center p-2">
                <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                    [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)" [nzTotal]="count"
                    [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)" [nzShowTotal]="rangeTemplate">
                </nz-pagination>
                <ng-template #totalTemplate let-total>
                    Total {{ total }} items
                </ng-template>
                <ng-template #rangeTemplate let-range="range" let-total>
                    {{ range[0] }}-{{ range[1] }} of {{ total }} items
                </ng-template>
            </div>
        </div>
    </div>
</div>