<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-lg-9">
            <h3>Wholesale Orders</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="no-margin">Select Vendor</p>
            <nz-select nzShowSearch nzAllowClear (nzOnSearch)="onSearchFilterControl($event, 2)" [nzServerSearch]="true"
                nzPlaceHolder="Select Vendor" (ngModelChange)="onSelectBuyer($event)" [(ngModel)]="buyerId"
                style="width: 100%;">
                <nz-option *ngFor="let item of VendorsList;index as BI;"
                    nzLabel="{{item.name}} - {{item.phone_number}} - {{item.email}}" [nzValue]="item._id">
                </nz-option>
            </nz-select>
            <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                nzTableLayout="fixed">
                <thead>
                    <tr>
                        <!-- <th nzWidth="60px"></th> -->
                        <!-- <th>Name</th>
                        <th>Email Address</th> -->
                        <th>Discount Coupon</th>
                        <th>Bill Amount</th>
                        <th>Products Quantity</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of tableList;index as OI;">
                        <tr>
                            <!-- <td [nzExpand]="view === OI"
                                (nzExpandChange)="onExpandChange(OI, $event)">
                            </td> -->
                            <!-- <td>{{ data.name | titlecase }}</td> -->
                            <!-- <td>{{data.email}}</td> -->
                            <td>{{data.discount_coupon}}</td>
                            <td>{{data.bill_amount}}</td>
                            <td>{{data.products.length}}</td>
                            <td>{{data.status}}</td>
                            <td class="text-left">
                                <a (click)="onExpandChange(OI)" class="base-margin-right" nz-tooltip
                                    nzTooltipTitle="View Order">
                                    <i nz-icon nzType="eye" nzTheme="outline"></i>
                                </a>
                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Order?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(data)" (nzOnCancel)="cancel()"
                                    class="base-margin-right" nz-tooltip nzTooltipTitle="Remove Order">
                                    <i nz-icon nzType="delete" nzTheme="fill" style="color: #f00;"></i>
                                </a>
                                <a nz-dropdown [nzDropdownMenu]="menu">
                                    Update Status
                                    <i nz-icon nzType="down"></i>
                                </a>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure ship this Order?"
                                                nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="updateStatus('accept', data._id)"
                                                (nzOnCancel)="cancelupdate()">Accept Order</a>
                                        </li>
                                        <li nz-menu-item>
                                            <a (click)="shipOrder('ship', data._id)">Ship Order</a>
                                        </li>
                                        <li nz-menu-item>
                                            <a nz-popconfirm
                                                nzPopconfirmTitle="Are you sure Payment Success this Order?"
                                                nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="updateStatus('payment_success', data._id)"
                                                (nzOnCancel)="cancelupdate()">Payment Success</a>
                                        </li>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure Payment Failed this Order?"
                                                nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="updateStatus('payment_failed', data._id)"
                                                (nzOnCancel)="cancelupdate()">Payment Failed</a>
                                        </li>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure return this Order?"
                                                nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="updateStatus('return', data._id)"
                                                (nzOnCancel)="cancelupdate()">Return Order</a></li>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure refund this Order?"
                                                nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="updateStatus('refund', data._id)"
                                                (nzOnCancel)="cancelupdate()">Refund Order</a>
                                        </li>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure reject this Order?"
                                                nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="updateStatus('reject', data._id)"
                                                (nzOnCancel)="cancelupdate()">Reject Order</a>
                                        </li>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure cancel this Order?"
                                                nzPopconfirmPlacement="bottom"
                                                (nzOnConfirm)="updateStatus('cancel', data._id)"
                                                (nzOnCancel)="cancelupdate()">Cancel Order</a></li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                        <tr [nzExpand]="view === OI">
                            <!-- <div class="container-fluid">
                                <div class="row base-margin-bottom" *ngIf="vendorData">
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Name:</strong></p>
                                        <span *ngIf="vendorData.name">{{vendorData.name}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Phone Number:</strong></p>
                                        <span *ngIf="vendorData.phone_number">{{vendorData.phone_number}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>E-mail:</strong></p>
                                        <span *ngIf="vendorData.email">{{vendorData.email}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Created:</strong></p>
                                        <span *ngIf="vendorData.created_on">{{vendorData.created_on | date}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Created:</strong></p>
                                        <span *ngIf="vendorData.created_on">{{vendorData.created_on | date}}</span>
                                    </div>
                                </div>
                            </div> -->
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <div class="text-center p-2">
                <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                    [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)" [nzTotal]="count"
                    [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)" [nzShowTotal]="rangeTemplate">
                </nz-pagination>
                <ng-template #totalTemplate let-total>
                    Total {{ total }} items
                </ng-template>
                <ng-template #rangeTemplate let-range="range" let-total>
                    {{ range[0] }}-{{ range[1] }} of {{ total }} items
                </ng-template>
            </div>
            <nz-modal [(nzVisible)]="isVisible"
                [nzTitle]="actionName" (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleOk()">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="name">Courier Name <sup>*</sup></label>
                            <input nz-input nzPlaceHolder="Courier Name" type="text" [(ngModel)]="courier" id="courier"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="name">Tracking Number <sup>*</sup></label>
                            <input nz-input nzPlaceHolder="Tracking Number" type="text" [(ngModel)]="tracking_number" id="tracking_number"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="name">Estimated Delivery Date <sup>*</sup></label>
                            <nz-date-picker [(ngModel)]="edd" (ngModelChange)="onChange($event)"></nz-date-picker>
                        </div>
                    </div>
                </div>
            </nz-modal>
        </div>
    </div>
</div>