<nz-tabset [nzSelectedIndex]="selectedTab">
    <nz-tab nzTitle="Banners" (nzSelect)="tabChange(0)">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-right">
                <button nz-button nzType="primary" (click)="create()">Create Banner</button>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Created at</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableList;index as AI;">
                            <tr>
                                <td>{{ data.name }}</td>
                                <td>
                                    <img [src]="data.image" alt="Image" />
                                </td>
                                <td>{{ data.created_on | date }}</td>
                                <td>
                                    <nz-switch (ngModelChange)="onChangeStatus(data)"
                                        [(ngModel)]="tableList[AI].status"></nz-switch>
                                </td>
                                <td class="text-left">
                                    <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->
                                    <a class="delete" nz-popconfirm
                                        nzPopconfirmTitle="Are you sure delete this Category?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data, 1)"
                                        (nzOnCancel)="cancel()">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
                <div class="text-center p-2">
                    <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)"
                        [nzTotal]="count" [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)"
                        [nzShowTotal]="rangeTemplate">
                    </nz-pagination>
                    <ng-template #totalTemplate let-total>
                        Total {{ total }} items
                    </ng-template>
                    <ng-template #rangeTemplate let-range="range" let-total>
                        {{ range[0] }}-{{ range[1] }} of {{ total }} items
                    </ng-template>
                </div>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Wholesale Banners" (nzSelect)="tabChange(1)">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-right">
                <button nz-button nzType="primary" (click)="create()">Create Wholesale Banner</button>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Created at</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableList;index as AI;">
                            <tr>
                                <td>{{ data.name }}</td>
                                <td>
                                    <img [src]="data.image" alt="Image" />
                                </td>
                                <td>{{ data.created_on | date }}</td>
                                <td>
                                    <nz-switch (ngModelChange)="onChangeStatus(data)"
                                        [(ngModel)]="tableList[AI].status"></nz-switch>
                                </td>
                                <td class="text-left">
                                    <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->
                                    <a class="delete" nz-popconfirm
                                        nzPopconfirmTitle="Are you sure delete this Category?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data, 1)"
                                        (nzOnCancel)="cancel()">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
                <div class="text-center p-2">
                    <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)"
                        [nzTotal]="count" [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)"
                        [nzShowTotal]="rangeTemplate">
                    </nz-pagination>
                    <ng-template #totalTemplate let-total>
                        Total {{ total }} items
                    </ng-template>
                    <ng-template #rangeTemplate let-range="range" let-total>
                        {{ range[0] }}-{{ range[1] }} of {{ total }} items
                    </ng-template>
                </div>
            </div>
        </div>
    </nz-tab>
</nz-tabset>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="selectedTab === 0 ? 'Create Banner' : 'Create Wholesale Banner'"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="bannerName">Banner Name <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Banner Name" type="text" [(ngModel)]="bannerName" id="bannerName"
                    class="form-control" />
            </div>
            <div>
                <nz-upload nzType="drag" [nzMultiple]="false"
                    (nzChange)="handleChange($event)" nzAccept=".png,.jpg,.jpeg">
                    <p class="ant-upload-drag-icon">
                        <i nz-icon nzType="inbox"></i>
                    </p>
                    <p class="ant-upload-text">Click or drag file to this area to upload</p>
                    <p class="ant-upload-hint">
                        Support for a single or bulk upload. Strictly prohibit from uploading company data or other band
                        files
                    </p>
                </nz-upload>
            </div>
        </div>
    </div>
</nz-modal>