<nz-layout class="app-layout">
  <nz-content>
    <div class="inner-content">
      <div class="row">
        <div class="col-md-12 col-lg-12 text-right">
          <button nz-button nzType="primary" (click)="create()">Create Admin</button>
        </div>
      </div>
      <div class="row p-1">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false" nzTableLayout="fixed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of tableList;index as AI;">
                <tr>
                  <td>{{ data.adminName }}</td>
                  <td>
                    {{data.adminEmail}}
                  </td>
                  <td>{{ data.createdAt | date }}</td>
                  <td class="text-left">
                    <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->
                    <a class="delete" nz-popconfirm nzPopconfirmTitle="Are you sure delete this Category?"
                      nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data, 1)" (nzOnCancel)="cancel()">
                      Delete
                    </a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
      </div>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="Create Admin" (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="form-group">
              <label for="name">Name <sup>*</sup></label>
              <input nz-input nzPlaceHolder="Name" type="text" [(ngModel)]="name" id="name" class="form-control" />
            </div>
            <div class="form-group">
              <label for="email">Email <sup>*</sup></label>
              <input nz-input nzPlaceHolder="Email" type="email" [(ngModel)]="email" id="email" class="form-control" />
            </div>
            <div class="form-group">
              <label for="password">Password <sup>*</sup></label>
              <input nz-input nzPlaceHolder="Password" type="password" [(ngModel)]="password" id="password"
                class="form-control" />
            </div>
          </div>
        </div>
      </nz-modal>
    </div>
  </nz-content>
</nz-layout>