<ul nz-menu nzMode="horizontal">
    <li nz-menu-item [nzSelected]="selectedTab === 1" (click)="tabChange(1)">
        Categories
    </li>
    <li nz-menu-item [nzSelected]="selectedTab === 2" (click)="tabChange(2)">
        Sub Categories
    </li>
</ul>
<div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="isVisible ? 14 : 24">
        <div nz-row [nzGutter]="16" *ngIf="selectedTab === 1 && isVisible === false">
            <div nz-col [nzSpan]="24" class="text-right">
                <button nz-button nzType="primary" (click)="create(1)"><i class="fas fa-plus"></i> Create
                    Category</button>
            </div>
        </div>
        <div nz-row [nzGutter]="16" *ngIf="selectedTab === 1">
            <div nz-col [nzSpan]="24">
                <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th><i class="fas fa-list-ol"></i> S.No.</th>
                            <th><i class="fas fa-city"></i> Category Name</th>
                            <!-- <th>Description</th> -->
                            <th><i class="fas fa-image"></i> Image</th>
                            <th><i class="fas fa-calendar-check"></i> Last Updated at</th>
                            <th><i class="fas fa-edit"></i> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableList;index as AI;">
                            <tr>
                                <td>{{ data.s_no }}</td>
                                <td>{{ data.name }}</td>
                                <!-- <td>{{ data.description }}</td> -->
                                <td>
                                    <a href="{{data.image}}" target="_blank">
                                        <img [src]="data.image" alt="Main Catgory Image"
                                            style="width: 50px;height: 50px;" />
                                    </a>
                                </td>
                                <td>{{ data.updatedAt | date }}</td>
                                <!-- <td>
                                            <nz-switch (ngModelChange)="onChangeStatus(data)"
                                                [(ngModel)]="tableList[AI].status"></nz-switch>
                                        </td> -->
                                <td class="text-left">
                                    <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->

                                    <a class="pending" nz-dropdown [nzDropdownMenu]="menu">
                                        <i nz-icon nzType="down"></i>
                                    </a>
                                    <nz-dropdown-menu #menu="nzDropdownMenu">
                                        <ul nz-menu nzSelectable>
                                            <li nz-menu-item (click)="create(2, data)">Edit Category</li>
                                            <li nz-menu-item>
                                                <a class="delete" nz-popconfirm
                                                    nzPopconfirmTitle="Are you sure delete this Category?"
                                                    nzPopconfirmPlacement="bottom"
                                                    (nzOnConfirm)="confirmCategory(data, 0)" (nzOnCancel)="cancel()">
                                                    Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </nz-dropdown-menu>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
                <div class="text-center p-2">
                    <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)"
                        [nzTotal]="count" [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)">
                    </nz-pagination>
                    <!-- <ng-template #totalTemplate let-total>
                                Total {{ total }} items
                            </ng-template>
                            <ng-template #rangeTemplate let-range="range" let-total>
                                {{ range[0] }}-{{ range[1] }} of {{ total }} items
                            </ng-template> -->
                </div>
            </div>
        </div>
        <div nz-row [nzGutter]="16" *ngIf="selectedTab === 2 && isVisible === false">
            <div nz-col [nzSpan]="24" class="text-right">
                <button nz-button nzType="primary" (click)="create(1)"><i class="fas fa-plus"></i> Create Sub
                    Category</button>
            </div>
        </div>
        <div class="row p-1" *ngIf="selectedTab === 2">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th><i class="fas fa-list-ol"></i> S.No.</th>
                            <th><i class="fas fa-city"></i> Sub-Category Name</th>
                            <!-- <th>Description</th> -->
                            <th><i class="fas fa-image"></i> Image</th>
                            <th><i class="fas fa-calendar-check"></i> Last Updated at</th>
                            <th><i class="fas fa-edit"></i> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableList;index as AI;">
                            <tr>
                                <td>{{ data.s_no }}</td>
                                <td>{{ data.name }}</td>
                                <!-- <td>{{ data.description }}</td> -->
                                <td>
                                    <a href="{{data.image}}" target="_blank">
                                        <img [src]="data.image" alt="Sub Category Image"
                                            style="width: 50px;height: 50px;" />
                                    </a>
                                </td>
                                <td>{{ data.updatedAt | date }}</td>
                                <!-- <td>
                                            <nz-switch (ngModelChange)="onChangeStatus(data)"
                                                [(ngModel)]="tableList[AI].status"></nz-switch>
                                        </td> -->
                                <td class="text-left">
                                    <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->
                                    <a class="pending" nz-dropdown [nzDropdownMenu]="menu">
                                        <i nz-icon nzType="down"></i>
                                    </a>
                                    <nz-dropdown-menu #menu="nzDropdownMenu">
                                        <ul nz-menu nzSelectable>
                                            <li nz-menu-item (click)="create(2, data, 'SC')">Edit Category</li>
                                            <li nz-menu-item>
                                                <a class="delete" nz-popconfirm
                                                    nzPopconfirmTitle="Are you sure delete this Sub Category?"
                                                    nzPopconfirmPlacement="bottom"
                                                    (nzOnConfirm)="confirmCategory(data, 1)" (nzOnCancel)="cancel()">
                                                    Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </nz-dropdown-menu>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
                <div class="text-center p-2">
                    <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)"
                        [nzTotal]="count" [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)">
                    </nz-pagination>
                    <!-- <ng-template #totalTemplate let-total>
                                Total {{ total }} items
                            </ng-template>
                            <ng-template #rangeTemplate let-range="range" let-total>
                                {{ range[0] }}-{{ range[1] }} of {{ total }} items
                            </ng-template> -->
                </div>
            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="10" *ngIf="isVisible">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="24">
                <div class="form-group">
                    <label for="sno">S.No. <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Serial No" type="text" [(ngModel)]="s_no" id="sno"
                        class="form-control" />
                </div>
                <div class="form-group">
                    <label for="name"><span *ngIf="selectedTab === 2">Sub </span>Category Name <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Category Name" type="text" [(ngModel)]="name" id="name"
                        class="form-control" />
                </div>
                <div class="form-group" *ngIf="selectedTab === 2">
                    <p class="no-margin" for="mainCategory">Main Category <sup>*</sup></p>
                    <nz-select class="base-margin-bottom" [(ngModel)]="mainCategory"
                        nzPlaceHolder="Select Main Category" style="width: 100%;" id="mainCategory"
                        [nzShowSearch]="true" [nzDisabled]="isEditing ? true : false">
                        <nz-option *ngFor="let item of categoryList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
                        </nz-option>
                    </nz-select>
                </div>
                <div class="form-group">
                    <label>Description <sup>*</sup></label>
                    <textarea nz-input placeholder="Description" [(ngModel)]="description"></textarea>
                </div>
                <div nz-row>
                    <div nz-col [nzSpan]="5" *ngIf="isEditing">
                        <img src="{{ImageLink}}" alt="Update Image" style="width: 50px;height: 50px;" *ngIf="isEditing" />
                    </div>
                    <div nz-col [nzSpan]="isEditing ? 19 : 24">
                        <nz-form-item>
                            <nz-form-label nzFor="file" [nzSpan]="4">Image</nz-form-label>
                            <nz-form-control [nzSpan]="11">
                                <input type="file" id="file" [(ngModel)]="fileInput"
                                    (change)="handleFileInput($event.target.files)">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <button nz-button class="login-form-button login-form-margin" style="margin-right: 10px;"
                    (click)="onReset()"><i nz-icon nzType="close" nzTheme="outline"></i>Cancel</button>
                <button nz-button [nzLoading]="isBtnLoading" class="login-form-button login-form-margin"
                    (click)="onSubmit(selectedTab)" [nzType]="'primary'">{{isEditing?'Update':'Create'}}</button>
            </div>
        </div>
    </div>
</div>


<!-- <nz-modal [(nzVisible)]="isVisible" [nzTitle]="selectedTab === 1 ? 'Create Category' : 'Create Sub Category'"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="sno">S.No. <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Serial No" type="text" [(ngModel)]="s_no" id="sno"
                    class="form-control" />
            </div>
            <div class="form-group">
                <label for="name"><span *ngIf="selectedTab === 2">Sub </span>Category Name <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Category Name" type="text" [(ngModel)]="name" id="name"
                    class="form-control" />
            </div>
            <div class="form-group" *ngIf="selectedTab === 2">
                <p class="no-margin" for="mainCategory">Main Category <sup>*</sup></p>
                <nz-select class="base-margin-bottom" [(ngModel)]="mainCategory" nzPlaceHolder="Select Main Category"
                    style="width: 100%;" id="mainCategory" [nzShowSearch]="true">
                    <nz-option *ngFor="let item of categoryList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
                    </nz-option>
                </nz-select>
            </div>
            <div class="form-group">
                <label>Description <sup>*</sup></label>
                <textarea nz-input placeholder="Description" [(ngModel)]="description"></textarea>
            </div>
            <nz-form-item>
                <nz-form-label nzFor="file" [nzSpan]="4">Image</nz-form-label>
                <nz-form-control [nzSpan]="11">
                    <input type="file" id="file" [(ngModel)]="fileInput"
                        (change)="handleFileInput($event.target.files)">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</nz-modal> -->