<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Spintex</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/admin">Admin</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/vendors">Vendors</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/categories">Categories</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/wholesale-categories">Wholesale Categories</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/buyers">Buyers</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/products">Products</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/wholesale-products">Wholesale Products</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/coupons">Coupons</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/banners">Banners</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/order">Orders</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/wholesale-orders">Wholesale Orders</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <div class="usericon">
          <ul style="list-style-type: none;">
            <!-- <li style="float: left;width: 100px;font-size: 25px;
          color: #827d7d;"><i nz-icon nzType="mail" nzTheme="outline"></i></li>
          <li style="float: left;width: 100px;font-size: 25px;
          color: #827d7d;"><i nz-icon nzType="bell" nzTheme="outline"></i></li> -->
            <li>
              <a nz-dropdown [nzDropdownMenu]="menu">
                <span>
                  <nz-avatar nzSize="large" nzIcon="user" nzSrc="/assets/images/images_show3.png">
                  </nz-avatar>
                </span>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu" class="usericon">
                <ul nz-menu nzSelectable>
                  <!-- <li nz-menu-item>
                    <a>Change Password</a>
                  </li> -->
                  <li nz-menu-item>
                    <a (click)="logOut()">Logout</a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </li>
          </ul>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>