<div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="5">
                <div class="form-group">
                    <p class="no-margin" for="userBlocked">Search By Name <sup>*</sup></p>
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nzAllowClear [formControl]="searchName"
                            (ngModelChange)="searchByName($event)" nz-input placeholder="Search By Name" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i class="fal fa-search"></i>
                    </ng-template>
                </div>
            </div>
            <div nz-col [nzSpan]="5">
                <div class="form-group">
                    <p class="no-margin" for="userBlocked">Search By Phone Number <sup>*</sup></p>
                    <nz-input-group [nzSuffix]="suffixIconSearch" nzAllowClear>
                        <input type="text" [formControl]="searchPhoneNumber" (ngModelChange)="searchPhone($event)"
                            nz-input placeholder="Search By Phone Number" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i class="fal fa-search"></i>
                    </ng-template>
                </div>
            </div>
            <div nz-col [nzSpan]="5">
                <div class="form-group">
                    <p class="no-margin" for="userBlocked">User Blocked <sup>*</sup></p>
                    <nz-select class="base-margin-bottom" [formControl]="userBlocked" nzPlaceHolder="Select User Status"
                        style="width: 100%;" id="userBlocked" nzAllowClear (ngModelChange)="userStatus($event)">
                        <nz-option nzValue="true" nzLabel="Active User"></nz-option>
                        <nz-option nzValue="false" nzLabel="Blocked User"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="24">
                <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Gender</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableList;index as AI;">
                            <tr>
                                <td class="cursor_pointer" (click)="detailView(data, AI)">
                                    <i class="fa fa-caret-right" *ngIf="view !== AI"></i>
                                    <i class="fa fa-caret-down" *ngIf="view === AI"></i>
                                  </td>
                                <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.phoneNumber}}</td>
                                <td>{{data.gender}}</td>
                                <td>{{data.userBlocked ? 'User Blocked' : 'Active User'}}</td>
                            </tr>
                            <tr *ngIf="view === AI">
                                <td colspan="6">
                                    <div nz-row [nzGutter]="16">
                                        <div nz-col [nzSpan]="24">
                                            <h6 class="text-center">User Details</h6>
                                            <nz-descriptions>
                                                <nz-descriptions-item nzTitle="Name">{{UserData.name}}
                                                </nz-descriptions-item>
                                                <nz-descriptions-item nzTitle="Email">{{UserData.email}}
                                                </nz-descriptions-item>
                                                <nz-descriptions-item nzTitle="Phone Number">{{UserData.phoneNumber}}
                                                </nz-descriptions-item>
                                                <nz-descriptions-item nzTitle="Gender">{{UserData.gender}}
                                                </nz-descriptions-item>
                                                <nz-descriptions-item nzTitle="Status">{{UserData.userBlocked ? 'User Blocked' : 'Active User'}}
                                                </nz-descriptions-item>
                                                <nz-descriptions-item nzTitle="Profile Picture">
                                                  <img [src]="UserData.profilePic" [alt]="UserData.name" style="width: 100px;height: 100px;" />
                                                </nz-descriptions-item>
                                                <nz-descriptions-item nzTitle="Created at">{{UserData.createdAt | date}}
                                                </nz-descriptions-item>
                                                <nz-descriptions-item nzTitle="Created at">{{UserData.updatedAt | date}}
                                                </nz-descriptions-item>
                                            </nz-descriptions>
                                            <ul nz-menu class="navigationMenu" [nzMode]="'horizontal'">
                                                <li nz-menu-item [nzSelected]="isSelected" (click)="onTab(true)">
                                                  On-going Bookings
                                                </li>
                                                <li nz-menu-item [nzSelected]="!isSelected" (click)="onTab(false)">
                                                  Past Bookings
                                                </li>
                                              </ul>
                                              <div nz-row [nzGutter]="16">
                                                  <div nz-col [nzSpan]="24">
                                                    <nz-table [nzLoading]="isTableLoading" [nzData]="bookingList" [nzShowPagination]="false" nzTableLayout="fixed">
                                                        <thead>
                                                          <tr>
                                                            <!-- <th></th> -->
                                                            <!-- <th><i class="fas fa-user"></i> Name</th>
                                                            <th><i class="fas fa-mobile-alt"></i> Phone Number</th>
                                                            <th><i class="fas fa-clipboard-list"></i> Service (SHOW SERVICE)</th> -->
                                                            <th>COD by Admin</th>
                                                            <th>Description</th>
                                                            <th><i class="fas fa-check-circle"></i> Appointment Date</th>
                                                            <th><i class="fas fa-clock"></i> Time</th>
                                                            <!-- <th>Location</th> -->
                                                            <th><i class="fas fa-check-circle"></i> Booking Date</th>
                                                            <th><i class="fas fa-edit"></i> Action</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          <ng-container *ngFor="let data of bookingList;index as BD;">
                                                            <tr>
                                                              <!-- <td class="cursor_pointer" (click)="detailView(data.booking, BD)">
                                                                <i class="fa fa-caret-right" *ngIf="view !== BD"></i>
                                                                <i class="fa fa-caret-down" *ngIf="view === BD"></i>
                                                              </td> -->
                                                              <!-- <td>
                                                                <span *ngIf="data.booking.customer_id">{{data.booking.customer_id.name}}</span>
                                                              </td>
                                                              <td>
                                                                <span *ngIf="data.booking.customer_id">{{data.booking.customer_id.phoneNumber}}</span>
                                                              </td>
                                                              <td>
                                                                <span *ngIf="data.booking.customer_id">{{data.booking.customer_id.email}}</span>
                                                              </td> -->
                                                              <td>{{data.cod_received_byadmin ? 'Yes' : 'NO'}}</td>
                                                              <td>{{data.custom_description}}</td>
                                                              <td>{{data.appointment_date}}</td>
                                                              <td>{{data.time}}</td>
                                                              <!-- <td>
                                                                <span *ngIf="data.address.properAddress">{{data.address.locations}}</span>
                                                              </td> -->
                                                              <td>{{data.createdAt | date}}</td>
                                                              <td class="text-left">
                                                                <!-- <a nz-tooltip nzTooltipTitle="Booking Detail View"><i
                                                                    class="fa fa-info-circle"></i>&nbsp;</a> -->
                                                                <span *ngIf="data.status > 2">NA</span>
                                                                <span class="green" *ngIf="data.status === 1">Assigned</span>
                                                                <span *ngIf="data.status === 2" class="delete">Rejected</span>
                                                                <span *ngIf="data.status === 0" class="delete">Pending</span>
                                                                <!-- <a class="pending" nz-dropdown [nzDropdownMenu]="menu" *ngIf="data.booking.status === 0">
                                                                  Pending <i nz-icon nzType="down"></i>
                                                                </a>
                                                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                                                  <ul nz-menu nzSelectable>
                                                                    <li nz-menu-item (click)="assign(data.booking)">Assign Booking</li>
                                                                    <li nz-menu-item (click)="onAction(data, 'reject')">Reject Booking</li>
                                                                  </ul>
                                                                </nz-dropdown-menu> -->
                                                                <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->
                                                                <!-- <a class="delete" nz-popconfirm nzPopconfirmTitle="Are you sure delete this Booking?"
                                                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data)" (nzOnCancel)="cancel()">
                                                                    Delete
                                                                  </a> -->
                                                              </td>
                                                            </tr>
                                                            <!-- <tr *ngIf="view === BD">
                                                              <td colspan="8">
                                                                <div nz-row [nzGutter]="16">
                                                                  <div nz-col [nzSpan]="24">
                                                                    <h6 class="text-center">Booking Details</h6>
                                                                    <div nz-row [nzGutter]="16" *ngIf="BookingData">
                                                                      <div nz-col [nzSpan]="12">
                                                                        <nz-descriptions>
                                                                          <nz-descriptions-item nzTitle="Address"><span>{{BookingData.address.properAddress}}</span>
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Appointment Date">{{BookingData.appointment_date}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Time">{{BookingData.time}}</nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Description">{{BookingData.custom_description}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Payment Confirm">{{BookingData.payment_confirm ? 'Yes' : 'No'}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Validation Number">{{BookingData.validationNumber}}
                                                                          </nz-descriptions-item>
                                                                        </nz-descriptions>
                                                                      </div>
                                                                      <div nz-col [nzSpan]="12">
                                                                        <div id="map"></div>
                                                                      </div>
                                                                    </div>
                                                                    <div nz-row [nzGutter]="16" *ngIf="BookingData">
                                                                      <div nz-col [nzSpan]="24">
                                                                        <h6 class="text-center">Booking Services</h6>
                                                                        <nz-descriptions *ngFor="let item of BookingData.services;">
                                                                          <nz-descriptions-item nzTitle="S.No."><span>{{item.service_id.s_no}}</span>
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Name"><span>{{item.service_id.name}}</span>
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Quantity">{{item.service_id.quantity}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Base Price">{{item.service_id.base_price}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Duration">{{item.service_id.duration}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="available_for">
                                                                            <span *ngIf="item.service_id.available_for === 0">Male</span>
                                                                            <span *ngIf="item.service_id.available_for === 1">Female</span>
                                                                            <span *ngIf="item.service_id.available_for === 2">Not Applicable</span>
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Created Date">{{item.service_id.createdAt | date}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Description">{{item.service_id.description}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Image">
                                                                            <img [src]="item.service_id.image" [alt]="item.service_id.name" style="width: 100px;height: 100px;" />
                                                                          </nz-descriptions-item>
                                                                        </nz-descriptions>
                                                                      </div>
                                                                    </div>
                                                                    <div nz-row [nzGutter]="16" *ngIf="BookingData">
                                                                      <div nz-col [nzSpan]="24">
                                                                        <h6 class="text-center">Customer Information</h6>
                                                                        <nz-descriptions *ngIf="BookingData.customer_id">
                                                                          <nz-descriptions-item nzTitle="Name">{{BookingData.customer_id.name}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Email">{{BookingData.customer_id.email}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Phone Number">{{BookingData.customer_id.phoneNumber}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Gender">{{BookingData.customer_id.gender}}</nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="User Blocked">{{BookingData.customer_id.userBlocked ? 'Yes' : 'No'}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Created at">{{BookingData.customer_id.createdAt | date}}
                                                                          </nz-descriptions-item>
                                                                          <nz-descriptions-item nzTitle="Image">
                                                                            <img [src]="BookingData.customer_id.profilePic" [alt]="BookingData.customer_id.name" style="width: 100px;height: 100px;" />
                                                                          </nz-descriptions-item>
                                                                        </nz-descriptions>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </td>
                                                            </tr> -->
                                                          </ng-container>
                                                        </tbody>
                                                      </nz-table>
                                                      <div class="text-center p-2">
                                                        <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="bookingCurrentPage" [nzShowSizeChanger]="true"
                                                          [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onBookingLimitChange($event)" [nzTotal]="bookingCount"
                                                          [nzPageSize]="limit" (nzPageIndexChange)="onBookingNextPage($event)" [nzShowTotal]="rangeTemplate">
                                                        </nz-pagination>
                                                        <ng-template #totalTemplate let-total>
                                                          Total {{ total }} items
                                                        </ng-template>
                                                        <ng-template #rangeTemplate let-range="range" let-total>
                                                          {{ range[0] }}-{{ range[1] }} of {{ total }} items
                                                        </ng-template>
                                                      </div>
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
                <div class="text-center p-2">
                    <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)"
                        [nzTotal]="count" [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)"
                        [nzShowTotal]="rangeTemplate">
                    </nz-pagination>
                    <ng-template #totalTemplate let-total>
                        Total {{ total }} items
                    </ng-template>
                    <ng-template #rangeTemplate let-range="range" let-total>
                        {{ range[0] }}-{{ range[1] }} of {{ total }} items
                    </ng-template>
                </div>
            </div>
        </div>
    </div>