<nz-tabset [nzSelectedIndex]="selectedTab">
    <nz-tab nzTitle="Coupons" (nzSelect)="tabChange(0)">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-right">
                <button nz-button nzType="primary" (click)="create()">Create Coupon</button>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Type</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableList;index as AI;">
                            <tr>
                                <td>{{ data.coupon_code }}</td>
                                <td>{{ data.type }}</td>
                                <td>{{ data.value }}</td>
                                <td class="text-left">
                                    <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->
                                    <a class="delete" nz-popconfirm
                                        nzPopconfirmTitle="Are you sure delete this Category?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data, 1)"
                                        (nzOnCancel)="cancel()">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
                <div class="text-center p-2">
                    <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)"
                        [nzTotal]="count" [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)"
                        [nzShowTotal]="rangeTemplate">
                    </nz-pagination>
                    <ng-template #totalTemplate let-total>
                        Total {{ total }} items
                    </ng-template>
                    <ng-template #rangeTemplate let-range="range" let-total>
                        {{ range[0] }}-{{ range[1] }} of {{ total }} items
                    </ng-template>
                </div>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Wholesale Coupons" (nzSelect)="tabChange(1)">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-right">
                <button nz-button nzType="primary" (click)="create()">Create Wholesale Coupon</button>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Type</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableList;index as AI;">
                            <tr>
                                <td>{{ data.coupon_code }}</td>
                                <td>{{ data.type }}</td>
                                <td>{{ data.value }}</td>
                                <td class="text-left">
                                    <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->
                                    <a class="delete" nz-popconfirm
                                        nzPopconfirmTitle="Are you sure delete this Category?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data, 1)"
                                        (nzOnCancel)="cancel()">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
                <div class="text-center p-2">
                    <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)"
                        [nzTotal]="count" [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)"
                        [nzShowTotal]="rangeTemplate">
                    </nz-pagination>
                    <ng-template #totalTemplate let-total>
                        Total {{ total }} items
                    </ng-template>
                    <ng-template #rangeTemplate let-range="range" let-total>
                        {{ range[0] }}-{{ range[1] }} of {{ total }} items
                    </ng-template>
                </div>
            </div>
        </div>
    </nz-tab>
</nz-tabset>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="selectedTab === 0 ? 'Create Coupon' : 'Create Wholesale Coupon'"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="coupon_code">Coupon Code <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Coupon Code" type="text" [(ngModel)]="couponCode" id="coupon_code"
                    class="form-control" />
            </div>
            <div class="form-group">
                <p class="no-margin" for="type">Type <sup>*</sup></p>
                <nz-select class="base-margin-bottom" [(ngModel)]="type" nzPlaceHolder="Select Coupon Type"
                    style="width: 100%;">
                    <nz-option nzValue="FLAT" nzLabel="FLAT"></nz-option>
                    <nz-option nzValue="PERCENT" nzLabel="PERCENT"></nz-option>
                </nz-select>
            </div>
            <div class="form-group">
                <label for="cooupon_value">Value <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Coupon Value" type="text" [(ngModel)]="value" id="cooupon_value"
                    class="form-control" />
            </div>
        </div>
    </div>
</nz-modal>