<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <button nz-button nzType="default" routerLink="/welcome/wholesale-orders/list">Back</button>
            <nz-descriptions nzTitle="Order Info" *ngIf="orderInfo">
                <nz-descriptions-item nzTitle="Discount Coupon">{{orderInfo.discount_coupon}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Products">{{orderInfo.products.length}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Status">{{orderInfo.status}} <a nz-dropdown [nzDropdownMenu]="menu">
                    Update Status
                    <i nz-icon nzType="down"></i>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure ship this Order?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="updateStatus('accept', orderInfo._id)"
                                (nzOnCancel)="cancelupdate()">Accept Order</a>
                        </li>
                        <li nz-menu-item>
                            <a (click)="shipOrder('ship', orderInfo._id)">Ship Order</a>
                        </li>
                        <li nz-menu-item>
                            <a nz-popconfirm
                                nzPopconfirmTitle="Are you sure Payment Success this Order?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="updateStatus('payment_success', orderInfo._id)"
                                (nzOnCancel)="cancelupdate()">Payment Success</a>
                        </li>
                        <li nz-menu-item>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure Payment Failed this Order?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="updateStatus('payment_failed', orderInfo._id)"
                                (nzOnCancel)="cancelupdate()">Payment Failed</a>
                        </li>
                        <li nz-menu-item>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure return this Order?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="updateStatus('return', orderInfo._id)"
                                (nzOnCancel)="cancelupdate()">Return Order</a></li>
                        <li nz-menu-item>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure refund this Order?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="updateStatus('refund', orderInfo._id)"
                                (nzOnCancel)="cancelupdate()">Refund Order</a>
                        </li>
                        <li nz-menu-item>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure reject this Order?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="updateStatus('reject', orderInfo._id)"
                                (nzOnCancel)="cancelupdate()">Reject Order</a>
                        </li>
                        <li nz-menu-item>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure cancel this Order?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="updateStatus('cancel', orderInfo._id)"
                                (nzOnCancel)="cancelupdate()">Cancel Order</a></li>
                    </ul>
                </nz-dropdown-menu>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Created Date">{{orderInfo.created_on | date:'dd/MM/yyyy hh:mm a'}}
                </nz-descriptions-item>
            </nz-descriptions>
            <nz-tabset [nzSelectedIndex]="selectedTab">
                <nz-tab nzTitle="Buyer Info" (nzSelect)="tabChange(0)">
                    <div class="row" *ngIf="buyerInfo">
                        <div class="col-md-12 col-lg-12">
                            <nz-descriptions nzTitle="Buyer Info">
                                <nz-descriptions-item nzTitle="Name">{{buyerInfo.name}}</nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Telephone">{{buyerInfo.phone_number}}
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="Email">{{buyerInfo.email}}</nz-descriptions-item>
                            </nz-descriptions>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Products" (nzSelect)="tabChange(1)">
                    <div class="row" *ngIf="productInfo">
                        <div class="col-md-12 col-lg-12">
                            <nz-table [nzLoading]="isTableLoading" [nzData]="productInfo" [nzShowPagination]="false"
                                nzTableLayout="fixed">
                                <thead>
                                    <tr>
                                        <!-- <th nzWidth="60px"></th> -->
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Discount Percentae(%)</th>
                                        <th>Price</th>
                                        <th>Created Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let data of productInfo;index as PI;">
                                        <tr>
                                            <!-- <td [nzExpand]="view === PI"
                                (nzExpandChange)="onExpandChange(OI, $event)">
                            </td> -->
                                            <td>{{ data.name | titlecase }}</td>
                                            <td>{{data.description}}</td>
                                            <td>{{data.discount_percentage}}%</td>
                                            <td>{{data.price}}</td>
                                            <td>{{data.created_on | date: 'dd/MM/yyyy hh:mm a'}}</td>
                                            <!-- <td>{{data.status}}</td> -->
                                            <!-- <td class="text-left">
                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Order?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(data)"
                                    (nzOnCancel)="cancel()">
                                    <i nz-icon nzType="delete" nzTheme="fill" style="color: #f00;"></i>
                                </a>
                            </td> -->
                                        </tr>
                                        <tr [nzExpand]="view === PI">
                                            <!-- <div class="container-fluid">
                                <div class="row base-margin-bottom" *ngIf="vendorData">
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Name:</strong></p>
                                        <span *ngIf="vendorData.name">{{vendorData.name}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Phone Number:</strong></p>
                                        <span *ngIf="vendorData.phone_number">{{vendorData.phone_number}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>E-mail:</strong></p>
                                        <span *ngIf="vendorData.email">{{vendorData.email}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Created:</strong></p>
                                        <span *ngIf="vendorData.created_on">{{vendorData.created_on | date}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Created:</strong></p>
                                        <span *ngIf="vendorData.created_on">{{vendorData.created_on | date}}</span>
                                    </div>
                                </div>
                            </div> -->
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </nz-table>
                        </div>
                    </div>
                </nz-tab>
            </nz-tabset>
            
            <nz-modal [(nzVisible)]="isVisible"
                [nzTitle]="actionName" (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleOk()">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="name">Courier Name <sup>*</sup></label>
                            <input nz-input nzPlaceHolder="Courier Name" type="text" [(ngModel)]="courier" id="courier"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="name">Tracking Number <sup>*</sup></label>
                            <input nz-input nzPlaceHolder="Tracking Number" type="text" [(ngModel)]="tracking_number" id="tracking_number"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="name">Estimated Delivery Date <sup>*</sup></label>
                            <nz-date-picker [(ngModel)]="edd" (ngModelChange)="onChange($event)"></nz-date-picker>
                        </div>
                    </div>
                </div>
            </nz-modal>
        </div>
    </div>
</div>