<nz-tabset [nzSelectedIndex]="selectedTab">
    <nz-tab nzTitle="Wholesale Categories" (nzSelect)="tabChange(0)">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-right">
                <button nz-button nzType="primary" (click)="create(1, 'N')">Create Wholesale Category</button>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <nz-table [nzLoading]="isTableLoading" [nzData]="CategoriesList" [nzShowPagination]="false"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of CategoriesList;index as AI;">
                            <tr>
                                <td>{{ data.name | titlecase }}</td>
                                <td class="text-left">
                                    <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a>
                                    <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Category?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data, 1)"
                                        (nzOnCancel)="cancel()">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Wholesale Sub-Categories" (nzSelect)="tabChange(1)">
        <div class="row">
            <div class="col-md-12 col-lg-12 text-right">
                <button nz-button nzType="primary" (click)="create(2, 'N')">Create Sub-Category</button>
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Wholesale Categories</label>
            <nz-form-item>
                <nz-form-control [nzSpan]="24">
                    <nz-select nzAllowClear nzPlaceHolder="Wholesale Categorie"
                        style="height: 42px;border: 1px solid #ddd;border-radius: 10px;"
                        [(ngModel)]="selectedId" (ngModelChange)="getInfo(selectedId)">
                        <nz-option *ngFor="let WC of CategoriesList;" nzLabel="{{WC.name}}" nzValue="{{WC._id}}">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-table [nzLoading]="isTableLoading" [nzData]="SubCategories" [nzShowPagination]="false" nzTableLayout="fixed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of SubCategories;">
                    <td>{{ item.name | titlecase }}</td>
                    <td class="text-left">
                        <a class="base-margin-right" (click)="create(2, 'U', item)">Update</a>
                        <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Sub-Category?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(item, 2)"
                            (nzOnCancel)="cancel()">
                            <i nz-icon nzType="delete" nzTheme="fill" style="color: #f00;"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-tab>
</nz-tabset>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="categoryType === 1 ? 'Create Wholesale Category' : 'Create Wholesale Sub-Category'"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="name">{{categoryType === 1 ? 'Wholesale Category' : 'Wholesale Sub-Category'}} Name <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Name" type="text" [(ngModel)]="categoryName" id="name"
                    class="form-control" />
            </div>
        </div>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleUpdate" [nzTitle]="categoryType === 1 ? 'Update Wholesale Category' : 'Update Wholesale Sub-Category'"
    (nzOnCancel)="handleCancelUpdate()" (nzOnOk)="updateCategory()">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="name">{{categoryType === 1 ? 'Wholesale Category' : 'Wholesale Sub-Category'}} Name <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Name" type="text" [(ngModel)]="categoryName" id="name"
                    class="form-control" />
            </div>
        </div>
    </div>
</nz-modal>