<div class="login-main">
  <div class="center">
    <div class="card">
      <div class="card-body">
        <div class="card-content">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <div class="text-left">
                <img
                  src="../../assets/images/Ido Logo.png"
                  alt="logo"
                  width="300px"
                  style="padding-right: 15px; margin-top: 30px;"
                />
              </div>
            </div>
            <div
              class="col-sm-6 col-md-6"
              style="border-left: 1px solid rgba(255,255,255, .2);"
            >
              <div class="login-container">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                  <div class="text-light">
                    <div class="title-class">
                      <h5><span>Login</span></h5>
                    </div>
                    <div class="pt-4">
                      <nz-radio-group formControlName="loginAs">
                        <label nz-radio nzValue="A" style="color: #FFFFFF;">Admin</label>
                        <label nz-radio nzValue="B" style="color: #FFFFFF;">Super Admin</label>
                      </nz-radio-group>
                    </div>
                    <div class="pt-4">
                      
                      <div class="input-icons form-group">
                        <input
                          type="text"
                          placeholder="Email"
                          class="form-control input-field"
                          formControlName="EmailID"
                        />
                        <span class=" text-dark" style="float: right;"
                          ><i
                            class="fas fa-user icon"
                            style="margin-left: -35px; padding-top: 16px;"
                          ></i
                        ></span>
                      </div>
                      <div class="input-icons form-group">
                        <input
                          type="password"
                          placeholder="Password"
                          formControlName="Password"
                          class="form-control input-field"
                        />
                        <span class=" text-dark" style="float: right;"
                          ><i
                            class="fas fa-key icon"
                            style="margin-left: -35px; padding-top: 16px;"
                          ></i
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button type="submit" class="btn login-button">
                      <span class="login-button-text">Login</span>
                    </button>
                  </div>
                  <!-- <div class="forgot-password-class text-center">
                    <h6><span>Forgot your password?</span></h6>
                  </div> -->
                  <!-- <div class="sign-in-help-class text-center">
                    <h5><span>Get help Signed in.</span></h5>
                  </div> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="center">
    <div class="login-container">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <img
              src="../../assets/images/belt-logo.png"
              alt="logo"
              width="200px"
            />
          </div>
        </div>
      </div>
      <div class="container">
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
              <label for="Email"><span class="login-font">Email</span></label>
              <input
                type="email"
                id="Email"
                class="form-control"
                required
                formControlName="EmailID"
              />
            </div>
            <div class="form-group">
              <label for="Password"
                ><span class="login-font">Password</span></label
              >
              <input
                type="password"
                id="Password"
                class="form-control"
                formControlName="Password"
                required
              />
            </div>

            <div class="container">
              <div class="text-center">
                <button type="submit" class="login-btn">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
</div>
