@import "../../styles/var";

.block-class {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/Images/EXL\ Bank\ Logo\ \(JPEG\).jpg");
  background-size: 100px;
  opacity: 0.04;
}

.bg-text {
  background-color: $white;
  //   background-color: rgba(0, 0, 0, 0.4);
  color: $primary;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.logo-class {
  border-right: 2px solid $secondary;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.head-class {
  color: $primary;
}

.login-content {
  margin: 2em 5em;
}

.btn-class {
  width: 100%;
  .btn.btn-primary {
    width: 100%;
    background-color: $secondary;
    border: 1px solid $secondary;
    color: $white;
    font-family: $font-family;
  }
}

.anchor-class {
  a {
    color: $primary !important;
  }

  a:hover {
    color: $secondary !important;
  }
}

.error-alert {
  float: right !important;
  color: red;
  font-size: $font-size-small;
}

.fun-center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}


// ==============

.mainImages{
  background-image: url("../../assets/Images/login-images1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.welcome{
  font-size: 41px;
    color: #fff;
    font-weight: 300;
}
.welcome-text{
  color: #fff;
}