.login-main {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  position: fixed;
}

.center .card {
  background-color: #5c4db1;
}

@media screen and (min-width: 1024px) {
  .center {
    position: absolute;
    top: 10%;
    left: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .center {
    position: absolute;
    top: 20%;
    left: 20%;
  }
}

@media screen and (min-width: 1400px) {
  .center {
    position: absolute;
    top: 30%;
    left: 25%;
  }
}

.card-content {
  margin: 10px;
  padding: 10px;
}

.title-class {
  font-family: "Work sans", sans-serif;
}

.title-class h5 span {
  width: auto;
  border-top: 2px solid #f05323;
  color: #ffffff;
}

.login-container .form-control {
  display: block;
  width: 100%;
  height: calc(1.75em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ffffff;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-container .form-group {
  margin-bottom: 1.25rem;
}
.login-button {
  width: 100%;
  background-color: #faa21b;
  border-radius: 0.25rem;
  height: 3em;
}

.login-button:hover {
  border: 2px solid #f05323;
}

.login-container {
  margin: 10px;
  padding: 10px;
}

.login-button .login-button-text {
  font-family: "Work sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #231f20;
}

.forgot-password-class {
  cursor: pointer;
  margin-top: 0.8rem;
}

.forgot-password-class h6 span {
  font-family: "Work sans", sans-serif;
  color: #ffffff;
}

.sign-in-help-class {
  cursor: pointer;
  margin-top: 0.5rem;
}

.sign-in-help-class h5 span {
  font-family: "Work sans", sans-serif;
  color: #f05323;
}
