<div nz-row [nzGutter]="8">
  <div nz-col nzSpan="20">
    <form nz-form [formGroup]="citySelectionForm">
      <nz-form-item>
        <nz-form-label style="text-align: left" [nzSm]="3" [nzXs]="24" nzFor="CountryName" nzRequired>Select City
        </nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Please Select Country Name!">
          <nz-select id="CountryName" formControlName="CityID" nzShowSearch nzPlaceHolder="Select City">
            <nz-option *ngFor="let item of cityList; let i=index" [nzValue]="item" [nzLabel]="item.city_name">
            </nz-option>
          </nz-select>

        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <!-- <div nz-col nzSpan="4">
    <span style="margin-right: 15px">{{isActiveCityList==true?'Active':'Inactive'}}</span>
    <nz-switch [(ngModel)]="isActiveCityList" (ngModelChange)="onChangeCityStatus()">
    </nz-switch>
  </div> -->
</div>
<div nz-row [nzGutter]="8">
  <div nz-col nzSpan="8">
    <nz-card>
      <nz-list [nzDataSource]="localityList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
        [nzLoading]="isTableloading">
        <ng-template #item let-item>
          <nz-list-item>
            <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="opAction">
              <ng-template #nzTitle>
                <span>{{item.name}}</span>
              </ng-template>
            </nz-list-item-meta>
            <ng-template #opAction>
              <span><a (click)="onEditLocality(item)"><i nz-icon nzType="edit" nzTheme="outline"></i> Edit Locality </a></span>
              <nz-divider nzType="vertical"></nz-divider>
              <span>
                <a class="delete" nz-popconfirm nzPopconfirmTitle="Are you sure delete this Locality?"
                      nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteLocality(item)" (nzOnCancel)="cancel()">
                      Delete Locality
                    </a>
              </span>
              <!-- <span [ngSwitch]="item.Status">
                <span *ngSwitchCase=true>
                  <a nz-popconfirm (nzOnConfirm)="onAction(item)" nzTitle="Are you sure you want to Inactivate this Locality?"
                    [nzIcon]="iconTpl"><i nz-icon nzType="close" nzTheme="outline"></i> Inactivate Now</a>
                </span>
                <span *ngSwitchCase=false>
                  <a style="  color: red;" nz-popconfirm (nzOnConfirm)="onAction(item)"
                    nzTitle="Are you sure you want to Activate this Locality?" [nzIcon]="iconTpl"><i nz-icon nzType="check" nzTheme="outline"></i> Activate Now</a>
                </span>

                <span *ngSwitchDefault>
                  NA
                </span>
                <ng-template #iconTpl>
                  <i nz-icon nzType="question-circle" nzTheme="outline"></i>
                </ng-template>
              </span> -->
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </nz-card>
  </div>
  <div nz-col nzSpan="16">

    <div nz-row class="rowgap">
      <div nz-col nzSpan="24">
     
      <nz-card>

        <div nz-row class="rowgap" style="text-align: right; margin-bottom: 20px;">
          <div nz-col nzSpan="4" [nzOffset]="20">
            <button class="rowgap" nz-button nzType="primary" [disabled]="polygonPaths.length==0"
              (click)="onUpdate()"><i nz-icon nzType="check-circle" nzTheme="outline"></i> Update</button>
          </div>

        </div>
        <div nz-row class="rowgap">
          <div nz-col nzSpan="14">
            <nz-form-item>

              <nz-form-label style="text-align: left" [nzSpan]="24" nzFor="CountryName" nzRequired>Locality
                Title</nz-form-label>
              <nz-form-control  [nzSpan]="24" class="countryListDropdown">
                <input [(ngModel)]="Locality_Title" id="CitySerialNumber" type="text" nz-input name="citySerial">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row class="rowgap">
          <div nz-col nzSpan="24">
            <div id="map"></div>
          </div>
        </div>

      </nz-card>
    </div>
    </div>

  </div>
</div>