<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-lg-9">
            <h3>Products</h3>
        </div>
        <div class="col-md-3 col-lg-3 text-right">
            <button nz-button nzType="primary" (click)="create('N')">Create Product</button>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="no-margin">Select Category</p>
            <nz-select class="base-margin-bottom" [(ngModel)]="byCategory" (ngModelChange)="byCategoryProducts()" nzPlaceHolder="Select Category" style="width: 250px;">
                <nz-option nzValue="ALL" nzLabel="ALL"></nz-option>
                <nz-option *ngFor="let option of CategoriesList;" [nzValue]="option._id" [nzLabel]="option.name">
                </nz-option>
            </nz-select>
            <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th nzWidth="60px"></th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Discount (%)</th>
                        <th>Available</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of tableList;index as AI;">
                        <tr>
                            <td [nzExpand]="view === AI" (nzExpandChange)="onExpandChange(AI, $event)">
                            </td>
                            <td>{{ data.name | titlecase }}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.discount_percentage}}%</td>
                            <td>{{data.available ? 'Yes' : 'No'}}</td>
                            <td class="text-left">
                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Product?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(data)"
                                    (nzOnCancel)="cancel()">
                                    <i nz-icon nzType="delete" nzTheme="fill" style="color: #f00;"></i>
                                </a>
                            </td>
                        </tr>
                        <tr [nzExpand]="view === AI">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 text-right">
                                        <a class="active-color" *ngIf="vendorData" (click)="create('U', vendorData)">Update Product</a>
                                    </div>
                                </div>
                                <div class="row base-margin-bottom" *ngIf="vendorData">
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Name:</strong></p>
                                        <span *ngIf="vendorData.name">{{vendorData.name}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Description:</strong></p>
                                        <span *ngIf="vendorData.description">{{vendorData.description}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Price:</strong></p>
                                        <span *ngIf="vendorData.price">{{vendorData.price}}</span>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <p class="no-margin"><strong>Created:</strong></p>
                                        <span *ngIf="vendorData.created_on">{{vendorData.created_on | date}}</span>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <div class="text-center p-2">
                <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                    [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)" [nzTotal]="count"
                    [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)" [nzShowTotal]="rangeTemplate">
                </nz-pagination>
                <ng-template #totalTemplate let-total>
                    Total {{ total }} items
                </ng-template>
                <ng-template #rangeTemplate let-range="range" let-total>
                    {{ range[0] }}-{{ range[1] }} of {{ total }} items
                </ng-template>
            </div>
        </div>
    </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Create Product" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="createProductForm">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="name">Product Name <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Name" type="text" formControlName="name" id="name"
                        class="form-control" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="price">Price <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Name" type="number" formControlName="price" id="price"
                        class="form-control" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label>Description <sup>*</sup></label>
                    <textarea nz-input placeholder="Description" formControlName="description"></textarea>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="discount_percentage">Discount (%) <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Name" type="number" formControlName="discount_percentage"
                        id="discount_percentage" class="form-control" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="phone">Categories</label>
                    <nz-form-item>
                        <nz-form-control [nzSpan]="24">
                            <nz-select nzAllowClear nzPlaceHolder="Wholesale Categorie"
                                style="height: 42px;border: 1px solid #ddd;border-radius: 10px;"
                                formControlName="category_id">
                                <nz-option *ngFor="let WC of CategoriesList;" nzLabel="{{WC.name}}"
                                    nzValue="{{WC._id}}">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
    </form>
</nz-modal>
<nz-modal [(nzVisible)]="isVisibleUpdate" nzTitle="Update Product" (nzOnCancel)="handleCancelUpdate()" (nzOnOk)="updateProduct()">
    <form nz-form [formGroup]="createProductForm">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="name">Product Name <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Name" type="text" formControlName="name" id="name"
                        class="form-control" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="price">Price <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Name" type="number" formControlName="price" id="price"
                        class="form-control" />
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label>Description <sup>*</sup></label>
                    <textarea nz-input placeholder="Description" formControlName="description"></textarea>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="discount_percentage">Discount (%) <sup>*</sup></label>
                    <input nz-input nzPlaceHolder="Name" type="number" formControlName="discount_percentage"
                        id="discount_percentage" class="form-control" />
                </div>
            </div>
        </div>
    </form>
</nz-modal>

<!-- <nz-modal [(nzVisible)]="isVisibleUpdate" [nzTitle]="categoryType === 1 ? 'Update Category' : 'Update Sub-Category'"
    (nzOnCancel)="handleCancelUpdate()" (nzOnOk)="updateCategory()">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="name">{{categoryType === 1 ? 'Category' : 'Sub-Category'}} Name <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Name" type="text" [(ngModel)]="categoryName" id="name"
                    class="form-control" />
            </div>
        </div>
    </div>
</nz-modal> -->