<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-lg-9">
            <h3>Orders</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="no-margin">Select Buyer</p>
            <nz-select nzShowSearch nzAllowClear (nzOnSearch)="onSearchFilterControl($event, 2)" [nzServerSearch]="true" nzPlaceHolder="Select Buyer" (ngModelChange)="onSelectBuyer($event)" [(ngModel)]="buyerId" style="width: 100%;">
                <nz-option *ngFor="let item of BuyersList;index as BI;" nzLabel="{{item.name}} - {{item.phone_number}} - {{item.email}}" [nzValue]="item._id">
                </nz-option>
            </nz-select>
            <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th>Discount Coupon</th>
                        <th>Bill Amount</th>
                        <th>Products Quantity</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of tableList;index as OI;">
                        <tr>
                            <td>{{data.discount_coupon}}</td>
                            <td>{{data.bill_amount}}</td>
                            <td>{{data.products.length}}</td>
                            <td>{{data.status}}</td>
                            <td class="text-left">
                                <a (click)="onExpandChange(OI)" class="base-margin-right" nz-tooltip nzTooltipTitle="View Order">
                                    <i nz-icon nzType="eye" nzTheme="outline"></i>
                                </a>
                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Order?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(data)"
                                    (nzOnCancel)="cancel()" class="base-margin-right" nz-tooltip nzTooltipTitle="Remove Order">
                                    <i nz-icon nzType="delete" nzTheme="fill" style="color: #f00;"></i>
                                </a>
                                <a nz-dropdown [nzDropdownMenu]="menu">
                                    Update Status
                                    <i nz-icon nzType="down"></i>
                                </a>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure ship this Order?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="updateStatus('ship', data._id)"
                                                (nzOnCancel)="cancelupdate()">Ship Order</a>
                                        </li>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure cancel this Order?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="updateStatus('cancel', data._id)"
                                                (nzOnCancel)="cancelupdate()">Cancel Order</a></li>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure return this Order?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="updateStatus('return', data._id)"
                                                (nzOnCancel)="cancelupdate()">Return Order</a></li>
                                        <li nz-menu-item>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure refund this Order?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="updateStatus('refund', data._id)"
                                                (nzOnCancel)="cancelupdate()">Refund Order</a>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <div class="text-center p-2">
                <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                    [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)" [nzTotal]="count"
                    [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)" [nzShowTotal]="rangeTemplate">
                </nz-pagination>
                <ng-template #totalTemplate let-total>
                    Total {{ total }} items
                </ng-template>
                <ng-template #rangeTemplate let-range="range" let-total>
                    {{ range[0] }}-{{ range[1] }} of {{ total }} items
                </ng-template>
            </div>
        </div>
    </div>
</div>
