<div nz-row [nzGutter]="16" *ngIf="!isVisible">
  <div nz-col [nzSpan]="5">
    <div class="form-group">
      <p class="no-margin" for="userBlocked">Search By Name <sup>*</sup></p>
      <nz-input-group [nzSuffix]="suffixIconSearch1">
        <input type="text" nzAllowClear [formControl]="searchName" nz-input placeholder="Service Name" />
      </nz-input-group>
      <ng-template #suffixIconSearch1>
        <i class="fal fa-search"></i>
      </ng-template>
    </div>
  </div>
  <div nz-col [nzSpan]="5">
    <div class="form-group">
      <p class="no-margin" for="category">Main Category <sup>*</sup></p>
      <nz-select class="base-margin-bottom" [formControl]="mainCategoryId" nzPlaceHolder="Select Main Category"
        style="width: 100%;" id="category" nzAllowClear>
        <nz-option *ngFor="let item of categoriesList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
        </nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-col [nzSpan]="5">
    <div class="form-group">
      <p class="no-margin" for="subCategory">Sub Category <sup>*</sup></p>
      <nz-select class="base-margin-bottom" [formControl]="subCategoryId" nzPlaceHolder="Select Sub Category"
        style="width: 100%;" id="subCategory" nzAllowClear>
        <nz-option *ngFor="let item of subCategorisList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
        </nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-col [nzSpan]="9">
    <button nz-button nzType="primary" (click)="create(1)" style="margin-top: 30px;float: right;"><i class="fas fa-plus"></i> Create Service</button>
  </div>
</div>
<!-- <div class="row" *ngIf="isVisible === false">
  <div class="col-md-12 col-lg-12 text-right">
    
  </div>
</div> -->
<div class="row p-1" *ngIf="isVisible === false">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false" nzTableLayout="fixed">
      <thead>
        <tr>
          <th><i class="fas fa-list-ol"></i> S.No.</th>
          <th><i class="fas fa-toolbox"></i> Service Name</th>
          <th><i class="fas fa-weight"></i> Quantity</th>
          <th><i class="fas fa-tag"></i> Base Price</th>
          <th><i class="fas fa-hourglass-half"></i> Duration</th>
          <th><i class="fas fa-filter"></i> Available For</th>
          <!-- <th>Description</th> -->
          <th><i class="fas fa-calendar-check"></i> Updated at</th>
          <th><i class="fas fa-edit"></i> Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of tableList;index as AI;">
          <tr>
            <td>{{data.s_no}}</td>
            <td>{{data.name}}</td>
            <td>{{data.quantity}}</td>
            <td>{{data.base_price}}</td>
            <td>{{data.duration}}</td>
            <td>
              <span *ngIf="data.available_for === 0">Male</span>
              <span *ngIf="data.available_for === 1">Female</span>
              <span *ngIf="data.available_for === 2">Not Applicable</span>
            </td>
            <!-- <td>{{data.description}}</td> -->
            <td>{{ data.updatedAt | date }}</td>
            <td class="text-left">
              <a class="pending" nz-dropdown [nzDropdownMenu]="menu">
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="create(2, data)">Edit Service</li>
                  <li nz-menu-item>
                    <a class="delete" nz-popconfirm nzPopconfirmTitle="Are you sure delete this Service?"
                      nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data)" (nzOnCancel)="cancel()">
                      Delete
                    </a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
    <div class="text-center p-2">
      <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)" [nzTotal]="count"
        [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)" [nzShowTotal]="rangeTemplate">
      </nz-pagination>
      <ng-template #totalTemplate let-total>
        Total {{ total }} items
      </ng-template>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </div>
  </div>
</div>

<div class="row" *ngIf="isVisible === true">
  <div class="col-md-12 col-lg-12">
    <div class="row">
      <div class="col-md-2 col-lg-2">
        <button nz-button nzType="default" (click)="handleCancel()"><i class="fas fa-chevron-left"
            aria-hidden="true"></i> Back</button>
      </div>
      <div class="col-md-10 col-lg-10">
        <h4>{{isEditing?'Update':'Create'}} Service</h4>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <label for="sno">S.No. <sup>*</sup></label>
        <input nz-input nzPlaceHolder="Serial No" type="text" [(ngModel)]="sno" id="sno" class="form-control" />
      </div>
      <div nz-col [nzSpan]="12">
        <label for="name">Name <sup>*</sup></label>
        <input nz-input nzPlaceHolder="Name" type="text" [(ngModel)]="name" id="name" class="form-control" />
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <p class="no-margin" for="mainCategory">Main Category <sup>*</sup></p>
        <nz-select class="base-margin-bottom" [(ngModel)]="mainCategory" (ngModelChange)="categorySelection($event)"
          nzPlaceHolder="Select Main Category" style="width: 100%;" id="mainCategory">
          <nz-option *ngFor="let item of categoriesList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="12">
        <p class="no-margin" for="subCategory">Sub Category <sup>*</sup></p>
        <nz-select class="base-margin-bottom" [(ngModel)]="subCategory" nzPlaceHolder="Select Sub Category"
          style="width: 100%;" id="subCategory">
          <nz-option *ngFor="let item of subCategorisList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <label for="base_price">Base Price <sup>*</sup></label>
        <input nz-input nzPlaceHolder="Base Price" type="text" [(ngModel)]="base_price" id="base_price"
          class="form-control" />
      </div>
      <div nz-col [nzSpan]="12">
        <label for="duration">Duration (hours) <sup>*</sup></label>
        <input nz-input nzPlaceHolder="Duration" type="text" [(ngModel)]="duration" id="duration"
          class="form-control" />
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <label for="quantity">Quantity <sup>*</sup></label>
        <input nz-input nzPlaceHolder="Quantity" type="text" [(ngModel)]="quantity" id="quantity"
          class="form-control" />
      </div>
      <div nz-col [nzSpan]="12">
        <p class="no-margin" for="quantityType">Quantity Type <sup>*</sup></p>
        <nz-select class="base-margin-bottom" [(ngModel)]="quantityType" nzPlaceHolder="Select Quantity Type"
          style="width: 100%;" id="quantityType">
          <nz-option *ngFor="let item of typesList;" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <label for="available_for">Available for <sup>*</sup></label>
        <nz-select class="base-margin-bottom" [(ngModel)]="available_for" nzPlaceHolder="Select Quantity Type"
          style="width: 100%;" id="quantityType">
          <nz-option *ngFor="let af of availableFor;" [nzValue]="af.id" [nzLabel]="af.name"></nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="12">
        <label>Description <sup>*</sup></label>
        <textarea nz-input placeholder="Description" [(ngModel)]="description"></textarea>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="5" *ngIf="isEditing">
        <img src="{{ImageLink}}" alt="Update Image" style="width: 50px;height: 50px;" *ngIf="isEditing" />
      </div>
      <div nz-col [nzSpan]="isEditing ? 19 : 24">
        <nz-form-item>
          <nz-form-label nzFor="file" [nzSpan]="4">Image</nz-form-label>
          <nz-form-control [nzSpan]="11">
            <input type="file" id="file" [(ngModel)]="fileInput" (change)="handleFileInput($event.target.files)">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="16" class="text-right">
      <div nz-col [nzSpan]="24">
        <button nz-button class="login-form-button login-form-margin" style="margin-right: 10px;"
          (click)="handleCancel()">Cancel</button>
        <button nz-button [nzLoading]="isBtnLoading" class="login-form-button login-form-margin" (click)="handleOk()"
          [nzType]="'primary'">{{isEditing?'Update':'Create'}}</button>
      </div>
    </div>
  </div>
</div>