<ul nz-menu nzMode="horizontal">
  <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="create">
     Create Locality
  </li>
  <li nz-menu-item routerLinkActive="ant-menu-item-selected"  routerLink="view">
     Locality List
  </li>
</ul>
&nbsp;
<router-outlet></router-outlet>