<div nz-row [nzGutter]="16">

    <div nz-col [nzSpan]="isFormVisiable?14:24">
        <div nz-row [nzGutter]="16" style="margin-bottom: 10px;">
            <div nz-col [nzSpan]="12">
                <div class="form-group">
                    <p class="no-margin" for="City">City <sup>*</sup></p>
                    <nz-select class="base-margin-bottom" [(ngModel)]="cityId" nzPlaceHolder="Select City"
                        style="width: 100%;" id="City">
                        <nz-option *ngFor="let item of citiesList;" nzValue="{{item._id}}" nzLabel="{{item.city_name}}">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <button nz-button (click)="onGetAddForm()" [nzType]="'primary'"><i nz-icon nzType="plus"
                        nzTheme="outline"></i> Add City</button>
            </div>
        </div>
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="24">
                <nz-table #basicTable [nzLoading]="isTableLoading" [nzLoadingDelay]="2" [nzData]="tableList"
                    [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <!-- <th></th> -->
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Created at</th>
                            <!-- <th><i nz-icon nzType="check" nzTheme="outline"></i> Status</th> -->
                            <!-- <th><i nz-icon nzType="setting" nzTheme="outline"></i> City Setting</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableList;index as LI;">
                            <tr>
                                <!-- <td [nzExpand]="detailViewIndex==i" (nzExpandChange)="onDetailView(data,i,1)"></td> -->
                                <td>{{ data.s_no }}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.createdAt | date: 'medium' }}</td>
                                <!-- <td>{{ data.EmailID }}</td> -->
                                <!-- <td> <span>
                                        <i [ngStyle]="{'color':data.Status?'green':'red'}" nz-icon
                                            [nzType]="data.Status?  'check':'close'" nzTheme="outline"></i>
                                    </span> </td> -->
                                <!-- <td>
                                <a (click)="onEdit(data)"><i nz-icon nzType="edit"
                                    nzTheme="outline"></i>&nbsp;&nbsp;Edit</a> &nbsp;|&nbsp;  
                                    <a (click)="onChangeStatus(data)"> {{data.Status?'Inactivate City':'Activate City'}}</a>
                                </td> -->
                            </tr>
                            <!-- <tr [nzExpand]="detailViewIndex==i">
                  
                  <nz-descriptions [nzTitle]="cityTIle">
                    <ng-template #cityTIle>
                      <i nz-icon nzType="setting" nzTheme="outline"></i> City Settings | <button nz-button (click)="onEditSettings(data)" [nzType]="'icon'">
                        <i nz-icon nzType="edit"
                        nzTheme="outline">
                        </i>
                      </button>
                    </ng-template>
                    <nz-descriptions-item nzTitle="Delivery Charge">{{city_SettingsObj.Delivery_Price}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Minimum Order Amount for Free Delivery">{{city_SettingsObj.Free_Delivery_Order_Price}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Minimum Order Amount">{{city_SettingsObj.Minimum_Order_Price}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Payment Gateway Percentage">{{city_SettingsObj.Payment_Gateway_Percentage}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Subscription Service Charge">
                     {{city_SettingsObj.Subscription_Service_Charge}}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="COD Service">
                     {{city_SettingsObj.Whether_COD?'Yes':'No'}}
                    </nz-descriptions-item>
                  </nz-descriptions>
                </tr> -->
                        </ng-container>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="10" *ngIf="isFormVisiable" style="position:sticky;top: 2px;">
        <ng-template #cardTitls>
            <span><i nz-icon nzType="plus-circle" nzTheme="outline"></i> {{isEditing?'Update City':'Create City'}}
            </span>
        </ng-template>

        <nz-card [nzTitle]="cardTitls">
            <form nz-form [formGroup]="myForm" class="login-form">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input City Title!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="s_no" placeholder="Serial Number" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input City Address!">
                        <nz-input-group nzPrefixIcon="search">
                            <input type="text" id="pac-input" nz-input formControlName="polygon_path"
                                placeholder="City Address" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <!-- <button nz-button class="login-form-button login-form-margin" style="margin-right: 10px;"
                    (click)="onReset()"><i nz-icon nzType="close" nzTheme="outline"></i>Cancel</button>
                <button nz-button [nzLoading]="isBtnLoading" class="login-form-button login-form-margin"
                    (click)="onSubmit()" [nzType]="'primary'">{{isEditing?'Update':'Create'}}</button> -->

            </form>
        </nz-card>
    </div>
</div>
<!-- <nz-modal [(nzVisible)]="isModalVisiable" [nzTitle]="modalTitle" [nzOkLoading]="isBtnLoading"
    (nzOnCancel)="onCancelModal()" (nzOnOk)="onSubmitSettings()">
    <ng-template #modalTitle>
        <span *ngIf="selectedObj?.City_Title">Update Settings For {{selectedObj.City_Title}} </span>
    </ng-template>
    <nz-card>
        <form nz-form [formGroup]="settingsForm" class="login-form">
            <nz-form-item>
                <nz-form-label>S.No.</nz-form-label>
                <nz-form-control nzErrorTip="Please Enter Serial Number!">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="s_no" placeholder="Serial Number" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Locality Name</nz-form-label>
                <nz-form-control nzErrorTip="Please Locality Name!">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="name" placeholder="Locality Name" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Polygon Path</nz-form-label>
                <nz-form-control nzErrorTip="Please input City Address!">
                    <nz-input-group>
                        <input type="text" id="pac-input" nz-input formControlName="polygon_path"
                            placeholder="City Address" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
</nz-modal> -->