<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="4">
    <div class="form-group">
      <p class="no-margin" for="payment_confirm">Payment Confirm <sup>*</sup></p>
      <nz-select class="base-margin-bottom" [formControl]="payment_confirm" nzPlaceHolder="Select Payment Confirmation"
        style="width: 100%;" id="payment_confirm" nzAllowClear (ngModelChange)="userStatus($event)">
        <nz-option nzValue="yes" nzLabel="Yes"></nz-option>
        <nz-option nzValue="no" nzLabel="No"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-col [nzSpan]="4">
    <div class="form-group">
      <p class="no-margin" for="service_id">Select Service <sup>*</sup></p>
      <nz-select class="base-margin-bottom" [formControl]="service_id" nzPlaceHolder="Select Service"
        style="width: 100%;" id="service_id" (ngModelChange)="userStatus($event)" [nzShowSearch]="true">
        <nz-option *ngFor="let item of ServicesList;" nzValue="{{item._id}}" nzLabel="{{item.name}}"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-col [nzSpan]="4">
    <div class="form-group">
      <p class="no-margin" for="userBlocked">Select Customer <sup>*</sup></p>
      <nz-select class="base-margin-bottom" [formControl]="customer_id" nzPlaceHolder="Select User Status"
        style="width: 100%;" id="userBlocked" nzAllowClear (ngModelChange)="userStatus($event)" [nzShowSearch]="true">
        <nz-option *ngFor="let item of UsersList;" nzValue="{{item._id}}" nzLabel="{{item.name}}"></nz-option>
      </nz-select>
    </div>
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="24">
    <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false" nzTableLayout="fixed">
      <thead>
        <tr>
          <th></th>
          <th><i class="fas fa-user"></i> Name</th>
          <th><i class="fas fa-mobile-alt"></i> Phone Number</th>
          <th><i class="fas fa-clipboard-list"></i> Service (SHOW SERVICE)</th>
          <th><i class="fas fa-check-circle"></i> Appointment Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
          <!-- <th>Location</th> -->
          <th><i class="fas fa-check-circle"></i> Booking Date</th>
          <th><i class="fas fa-edit"></i> Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of tableList;index as BD;">
          <tr>
            <td class="cursor_pointer" (click)="detailView(data.booking, BD)">
              <i class="fa fa-caret-right" *ngIf="view !== BD"></i>
              <i class="fa fa-caret-down" *ngIf="view === BD"></i>
            </td>
            <td>
              <span *ngIf="data.booking.customer_id">{{data.booking.customer_id.name}}</span>
            </td>
            <td>
              <span *ngIf="data.booking.customer_id">{{data.booking.customer_id.phoneNumber}}</span>
            </td>
            <td>
              <span *ngIf="data.booking.customer_id">{{data.booking.customer_id.email}}</span>
            </td>
            <td>{{data.booking.appointment_date}}</td>
            <td>{{data.booking.time}}</td>
            <!-- <td>
              <span *ngIf="data.address.properAddress">{{data.address.locations}}</span>
            </td> -->
            <td>{{data.booking.createdAt | date}}</td>
            <td class="text-left">
              <!-- <a nz-tooltip nzTooltipTitle="Booking Detail View"><i
                  class="fa fa-info-circle"></i>&nbsp;</a> -->
              <span *ngIf="data.booking.status > 2">NA</span>
              <span class="green" *ngIf="data.booking.status === 1">Assigned</span>
              <span *ngIf="data.booking.status === 2" class="delete">Rejected</span>
              <a class="pending" nz-dropdown [nzDropdownMenu]="menu" *ngIf="data.booking.status === 0">
                Pending <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="assign(data.booking)">Assign Booking</li>
                  <li nz-menu-item (click)="onAction(data, 'reject')">Reject Booking</li>
                </ul>
              </nz-dropdown-menu>
              <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->
              <!-- <a class="delete" nz-popconfirm nzPopconfirmTitle="Are you sure delete this Booking?"
                  nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data)" (nzOnCancel)="cancel()">
                  Delete
                </a> -->
            </td>
          </tr>
          <tr *ngIf="view === BD">
            <td colspan="8">
              <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="24">
                  <h6 class="text-center">Booking Details</h6>
                  <div nz-row [nzGutter]="16" *ngIf="BookingData">
                    <div nz-col [nzSpan]="12">
                      <nz-descriptions>
                        <nz-descriptions-item nzTitle="Address"><span>{{BookingData.address.properAddress}}</span>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Appointment Date">{{BookingData.appointment_date}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Time">{{BookingData.time}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Description">{{BookingData.custom_description}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Payment Confirm">{{BookingData.payment_confirm ? 'Yes' : 'No'}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Validation Number">{{BookingData.validationNumber}}
                        </nz-descriptions-item>
                      </nz-descriptions>
                    </div>
                    <div nz-col [nzSpan]="12">
                      <label>Location:</label>
                      <a *ngIf="BookingData.address.lat !== '' && BookingData.address.lng !== ''" [attr.href]="'https://www.google.com/maps/place/'+BookingData.address.lat+','+BookingData.address.lng">View Location</a>
                    </div>
                  </div>
                  <div nz-row [nzGutter]="16" *ngIf="BookingData">
                    <div nz-col [nzSpan]="24">
                      <h6 class="text-center">Booking Services</h6>
                      <nz-descriptions *ngFor="let item of BookingData.services;">
                        <nz-descriptions-item nzTitle="S.No."><span>{{item.service_id.s_no}}</span>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Name"><span>{{item.service_id.name}}</span>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Quantity">{{item.service_id.quantity}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Base Price">{{item.service_id.base_price}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Duration">{{item.service_id.duration}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="available_for">
                          <span *ngIf="item.service_id.available_for === 0">Male</span>
                          <span *ngIf="item.service_id.available_for === 1">Female</span>
                          <span *ngIf="item.service_id.available_for === 2">Not Applicable</span>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Created Date">{{item.service_id.createdAt | date}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Description">{{item.service_id.description}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Image">
                          <img [src]="item.service_id.image" [alt]="item.service_id.name" style="width: 100px;height: 100px;" />
                        </nz-descriptions-item>
                      </nz-descriptions>
                    </div>
                  </div>
                  <div nz-row [nzGutter]="16" *ngIf="BookingData">
                    <div nz-col [nzSpan]="24">
                      <h6 class="text-center">Customer Information</h6>
                      <nz-descriptions *ngIf="BookingData.customer_id">
                        <nz-descriptions-item nzTitle="Name">{{BookingData.customer_id.name}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Email">{{BookingData.customer_id.email}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Phone Number">{{BookingData.customer_id.phoneNumber}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Gender">{{BookingData.customer_id.gender}}</nz-descriptions-item>
                        <nz-descriptions-item nzTitle="User Blocked">{{BookingData.customer_id.userBlocked ? 'Yes' : 'No'}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Created at">{{BookingData.customer_id.createdAt | date}}
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="Image">
                          <img [src]="BookingData.customer_id.profilePic" [alt]="BookingData.customer_id.name" style="width: 100px;height: 100px;" />
                        </nz-descriptions-item>
                      </nz-descriptions>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
    <div class="text-center p-2">
      <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)" [nzTotal]="count"
        [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)" [nzShowTotal]="rangeTemplate">
      </nz-pagination>
      <ng-template #totalTemplate let-total>
        Total {{ total }} items
      </ng-template>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </div>
  </div>
</div>
<nz-modal *ngIf="assignBookingVisible" [(nzVisible)]="assignBookingVisible"
  nzTitle="Assign Booking" (nzOnCancel)="assignBookingCancel()"
  (nzOnOk)="assignBooking()">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <p class="no-margin" for="City">City <sup>*</sup></p>
        <nz-select class="base-margin-bottom" [formControl]="cityId" nzPlaceHolder="Select City" style="width: 100%;"
          id="City" nzAllowClear>
          <nz-option *ngFor="let item of citiesList;" nzValue="{{item._id}}" nzLabel="{{item.city_name}}">
          </nz-option>
        </nz-select>
      </div>
      <div class="form-group">
        <p class="no-margin" for="partner">Partner <sup>*</sup></p>
        <nz-select class="base-margin-bottom" [formControl]="partner_id" nzPlaceHolder="Select Partner"
          style="width: 100%;" id="partner" nzAllowClear>
          <nz-option *ngFor="let item of partnersList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
          </nz-option>
        </nz-select>
      </div>
    </div>
  </div>
</nz-modal>