
<div class="container-fluid">
    <div class="row" *ngIf="isNavItemNumber === 2">
        <div class="col-md-9 col-lg-9">
            <h3>Admin</h3>
        </div>
        <div class="col-md-3 col-lg-3">
            <button nz-button nzType="primary" (click)="createAdmin()">Create</button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>