.fa-2x {
  font-size: 1.5em !important;
}

.fas {
  position: relative;
  display: table-cell;
  width: 80px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding-right: 10px;
}

.fal {
  position: relative;
  display: table-cell;
  width: 80px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  padding-right: 10px;
  padding-top: 2px;
}

/* .main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
} */

.main-menu {
  background: #5c4db1;
  /* border-right: 1px solid #e5e5e5; */
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 250px;
  overflow: visible;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  /* -webkit-transform: translateZ(0) scale(1, 1); */
  z-index: 1000;

}

@media screen and (min-width: 1024px) {
  .main-menu > ul {
    margin: 10px 0;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media screen and (min-width: 1400px) {
  .main-menu > ul {
    margin: 10px 0;
    max-height: 630px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
  padding-bottom: 10px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  /* color: #999; */
  color: #ffffff;
  font-family: arial;
  /* font-size: 14px; */
  font-size: 1rem;
  text-decoration: none;
  /* -webkit-transform: translateZ(0) scale(1, 1); */
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 80px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  /* font-size: 22px; */
  font-size: 1rem;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 160px;
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  /* font-size: 20px; */
  font-size: 1rem;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0 5px;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  /* color: #fff; */
  /* background-color: #5fa2db; */
  color: #231f20;
  background-color: #ffffff;
  border-radius: 3.5rem;
}
.area {
  float: left;
  /* background: #e2e2e2; */
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* @font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
} */

.main-header {
  position: sticky;
  width: 100%;
  height: 80px;
  background-color: #5c4db1;
}

.router-active-class {
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.router-active-class .nav-text {
  color: #231f20;
}
.router-active-class .fas {
  color: #231f20;
  border-radius: 2.5rem;
}

.router-active-class .fal {
  color: #231f20;
  border-radius: 2.5rem;
}
