<div class="area">
  <nav class="main-menu">
    <ul style="margin-top: 80px;">
      <!-- <li>
        <a routerLink="/dashboard" routerLinkActive="router-active-class">
          <i class="fal fa-globe fa-2x"></i>
          <span class="nav-text">
            Dashboard
          </span>
        </a>
      </li> -->

      <li *ngIf="user === 'Super Admin'">
        <a routerLink="superadmin" routerLinkActive="router-active-class">
          <i class="fal fa-analytics fa-2x"></i>
          <span class="nav-text">
            Superadmin
          </span>
        </a>
      </li>

      <li *ngIf="user === 'Admin'">
        <a routerLink="city" routerLinkActive="router-active-class">
          <i class="fas fa-search-location"></i>
          <span class="nav-text">
            City
          </span>
        </a>
      </li>

      <li *ngIf="user === 'Admin'">
        <a routerLink="localities" routerLinkActive="router-active-class">
          <i class="fas fa-search-location"></i>
          <span class="nav-text">
            Localities
          </span>
        </a>
      </li>

      <li *ngIf="user === 'Admin'">
        <a routerLink="categories" routerLinkActive="router-active-class">
          <i class="fas fa-city"></i>
          <span class="nav-text">
            Categories
          </span>
        </a>
      </li>

      <li *ngIf="user === 'Admin'">
        <a routerLink="services" routerLinkActive="router-active-class">
          <i class="fas fa-toolbox"></i>
          <span class="nav-text">
            Services
          </span>
        </a>
      </li>

      <li *ngIf="user === 'Admin'">
        <a routerLink="extra" routerLinkActive="router-active-class">
          <i class="fas fa-puzzle-piece"></i>
          <span class="nav-text">
            Extra
          </span>
        </a>
      </li>

      <li *ngIf="user === 'Admin'">
        <a routerLink="bookings" routerLinkActive="router-active-class">
          <i class="fas fa-clipboard-list"></i>
          <span class="nav-text">
            Bookings
          </span>
        </a>
      </li>
      <li *ngIf="user === 'Admin'">
        <a routerLink="partners" routerLinkActive="router-active-class">
          <i class="fas fa-handshake"></i>
          <span class="nav-text">
            Partners
          </span>
        </a>
      </li>
      <li *ngIf="user === 'Admin'">
        <a routerLink="users" routerLinkActive="router-active-class">
          <i class="fal fa-user-tie fa-2x"></i>
          <span class="nav-text">
            Users
          </span>
        </a>
      </li>

      <!-- <li>
        <a routerLink="/coupon" routerLinkActive="router-active-class">
          <i class="fal fa-percent fa-2x"></i>
          <span class="nav-text">
            Coupon
          </span>
        </a>
      </li>

      <li>
        <a routerLink="/orders" routerLinkActive="router-active-class">
          <i class="fal fa-clipboard-list-check fa-2x"></i>
          <span class="nav-text">
            Orders
          </span>
        </a>
      </li>

      <li>
        <a routerLink="/grievance" routerLinkActive="router-active-class">
          <i class="fal fa-comment-exclamation fa-2x"></i>
          <span class="nav-text">
            Feedback
          </span>
        </a>
      </li>

      <li>
        <a routerLink="/bird_view" routerLinkActive="router-active-class">
          <i class="fal fa-binoculars fa-2x"></i>
          <span class="nav-text">
            Bird View
          </span>
        </a>
      </li>

      <li>
        <a routerLink="/reg_user" routerLinkActive="router-active-class">
          <i class="fal fa-users fa-2x"></i>
          <span class="nav-text">
            User
          </span>
        </a>
      </li>

      <li>
        <a routerLink="/app_setting" routerLinkActive="router-active-class">
          <i class="fal fa-cogs fa-2x"></i>
          <span class="nav-text">
            Settings
          </span>
        </a>
      </li> -->
    </ul>

    <ul class="logout">
      <li>
        <a (click)="logOut()">
          <i class="fal fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="main-content">
    <div class="main-header" style="padding-left: 80px; padding-top: 2px;">
      <img
        src="../../../assets/images/belt-logo.png"
        alt=""
        srcset=""
        width="150px"
      />
      <!-- <span
        style="color: #faa21b; float: right; padding-top: 15px; cursor: pointer;"
      >
        <i class="fas fa-power-off fa-2x"></i>
      </span> -->
      <span
        style="color: #faa21b; float: right; padding: 20px; font-size: larger;"
      >
        Welcome {{ user }}
      </span>
    </div>
   
   
  </div>
  <div style="margin-left: 20%;
  margin-right: 20px;">
    <router-outlet></router-outlet>
  </div>
</div>
