<div nz-row [nzGutter]="16" *ngIf="!isFormVisiable">
    <div nz-col [nzSpan]="24">
        <div nz-row [nzGutter]="16" style="margin-bottom: 10px;">
            <div nz-col [nzSpan]="4">
                <div class="form-group">
                    <p class="no-margin" for="userBlocked">Search By Name <sup>*</sup></p>
                    <nz-input-group>
                        <input nzAllowClear [formControl]="search_input" nz-input placeholder="Enter Name" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch1>
                        <i class="fal fa-search"></i>
                    </ng-template>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="form-group">
                    <p class="no-margin" for="City">City <sup>*</sup></p>
                    <nz-select class="base-margin-bottom" [formControl]="cityId" nzPlaceHolder="Select City"
                        style="width: 100%;" id="City" nzAllowClear>
                        <nz-option *ngFor="let item of citiesList;" nzValue="{{item._id}}" nzLabel="{{item.city_name}}">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="form-group">
                    <p class="no-margin" for="category">Main Category <sup>*</sup></p>
                    <nz-select class="base-margin-bottom" [formControl]="mainCategoryId"
                        nzPlaceHolder="Select Main Category" style="width: 100%;" id="category" nzAllowClear>
                        <nz-option *ngFor="let item of categoryList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="form-group">
                    <p class="no-margin" for="subCategory">Sub Category <sup>*</sup></p>
                    <nz-select class="base-margin-bottom" [formControl]="subCategoryId"
                        nzPlaceHolder="Select Sub Category" style="width: 100%;" id="subCategory" nzAllowClear>
                        <nz-option *ngFor="let item of subCategoryList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col [nzSpan]="4">
                <div class="form-group">
                    <p class="no-margin" for="localities">Locality <sup>*</sup></p>
                    <nz-select class="base-margin-bottom" [formControl]="localities" nzPlaceHolder="Select Localities"
                        style="width: 100%;" id="localities" nzAllowClear>
                        <nz-option *ngFor="let item of LocalitiesList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col [nzSpan]="4" style="padding-top: 50px;">
                <button nz-button (click)="onGetAddForm()" [nzType]="'primary'"><i class="fas fa-plus"></i> Create
                    Partner</button>
            </div>
        </div>
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="24">
                <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th></th>
                            <th><i class="fas fa-user"></i> Name</th>
                            <th><i class="fas fa-envelope"></i> Email</th>
                            <th><i class="fas fa-mobile-alt"></i> Phone Number</th>
                            <th><i class="fas fa-calendar-check"></i> Date of Birth</th>
                            <th><i class="fas fa-check-circle"></i> Profile Status</th>
                            <th><i class="fas fa-tools"></i> Expertise</th>
                            <th><i class="fas fa-edit"></i> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let data of tableList;index as AI;">
                            <tr>
                                <td class="cursor_pointer" (click)="detailView(data, AI)">
                                    <i class="fa fa-caret-right" *ngIf="view !== AI"></i>
                                    <i class="fa fa-caret-down" *ngIf="view === AI"></i>
                                </td>
                                <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.phoneNumber}}</td>
                                <td>{{data.dob}}</td>
                                <td>
                                    <a class="status" nz-popconfirm
                                        nzPopconfirmTitle="{{data.approved_status ? 'Are you sure Reject this Partner?' : 'Are you sure Approve this Partner?'}}"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="onChangeStatus(data)"
                                        (nzOnCancel)="cancelStatus()">{{data.approved_status ? 'Approved' :
                                        'Rejected'}}</a>
                                </td>
                                <!-- <td>{{data.status ? 'ACTIVE' : 'INACTIVE'}}</td> -->
                                <td> Available Soon</td>
                                <td class="text-left">
                                    <a (click)="editPartner(data)">Edit</a>
                                    <a class="delete" nz-popconfirm
                                        nzPopconfirmTitle="Are you sure delete this Partner?"
                                        nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data)"
                                        (nzOnCancel)="cancel()" nz-tooltip nzTooltipTitle="Delete Partner">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            <tr *ngIf="view === AI">
                                <td colspan="8">
                                    <div nz-row [nzGutter]="16">
                                        <div nz-col [nzSpan]="24">
                                            <nz-tabset [(nzSelectedIndex)]="tabSelection"
                                                (nzSelectChange)="tabChange(data)">
                                                <nz-tab nzTitle="Partner Details">
                                                    <nz-descriptions *ngIf="bookingData">
                                                        <nz-descriptions-item nzTitle="Profile Pic">
                                                            <img [src]="bookingData.profilePic" alt="Passport Image"
                                                                style="width: 100px;height: 100px;" />
                                                        </nz-descriptions-item>
                                                    </nz-descriptions>
                                                    <h6 class="text-center">City Details</h6>
                                                    <nz-descriptions *ngIf="bookingData">
                                                        <nz-descriptions-item nzTitle="S.No.">
                                                            {{bookingData.city_id.s_no}}</nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="City Name">
                                                            {{bookingData.city_id.city_name}}</nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="Created at">
                                                            {{bookingData.city_id.createdAt | date}}
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="Updated at">
                                                            {{bookingData.city_id.updatedAt | date}}
                                                        </nz-descriptions-item>
                                                    </nz-descriptions>
                                                    <div style="margin-bottom: 20px;" *ngIf="bookingData">
                                                        <button nz-button style="float: right;"
                                                            (click)="update('PICTURE', data)"
                                                            [nzType]="'primary'">Update
                                                            Passport Image</button>
                                                    </div>
                                                    <div nz-row [nzGutter]="16" *ngIf="bookingData">
                                                        <div nz-col [nzSpan]="6">
                                                            <nz-descriptions *ngIf="bookingData.kyc">
                                                                <nz-descriptions-item nzTitle="Passport Image">
                                                                    <img [src]="bookingData.kyc.passportPic"
                                                                        alt="Attachment"
                                                                        style="width: 100px;height: 100px;" />
                                                                </nz-descriptions-item>
                                                            </nz-descriptions>
                                                        </div>
                                                        <div nz-col [nzSpan]="6">
                                                            <nz-form-item>
                                                                <label>Passport Image</label>
                                                                <nz-form-control [nzSpan]="11">
                                                                    <input type="file" id="file" [(ngModel)]="fileInput"
                                                                        (change)="handleFileInput($event.target.files, 'PIC')">
                                                                </nz-form-control>
                                                            </nz-form-item>
                                                        </div>
                                                    </div>
                                                </nz-tab>
                                                <nz-tab nzTitle="KYC Details">
                                                    <h6 class="text-center" *ngIf="KYCData">Address <i
                                                            class="fas fa-edit" style="float: right;" nz-tooltip
                                                            nzTooltipTitle="Edit Address"
                                                            (click)="editKYC('ADDRESS')"></i></h6>
                                                    <nz-descriptions *ngIf="KYCData && !isEditAddress">
                                                        <nz-descriptions-item nzTitle="Flat No">
                                                            {{KYCData.address.flatNo}}
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="Locality Name">
                                                            {{KYCData.address.localityName}}
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="City Name">
                                                            {{KYCData.address.city}}
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="PIN Code">
                                                            {{KYCData.address.pinCode}}
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="State">{{KYCData.address.state}}
                                                        </nz-descriptions-item>
                                                    </nz-descriptions>
                                                    <div *ngIf="isEditAddress" nz-row [nzGutter]="16">
                                                        <div nz-col [nzSpan]="24">
                                                            <form nz-form [formGroup]="addressForm" class="login-form">
                                                                <div nz-row [nzGutter]="16">
                                                                    <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Please Enter flat Number!">
                                                                                <nz-input-group>
                                                                                    <label>Flat Number</label>
                                                                                    <input type="text" nz-input
                                                                                        formControlName="flatNo"
                                                                                        placeholder="Please Enter flat Number" />
                                                                                </nz-input-group>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div>
                                                                    <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Please Enter Locality Name!">
                                                                                <nz-input-group>
                                                                                    <label>Locality Name</label>
                                                                                    <input type="text" nz-input
                                                                                        formControlName="localityName"
                                                                                        placeholder="Please Enter Locality Name" />
                                                                                </nz-input-group>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div>
                                                                </div>
                                                                <div nz-row [nzGutter]="16">
                                                                    <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Please Enter Pin Code!">
                                                                                <nz-input-group>
                                                                                    <label>Pin Code</label>
                                                                                    <input type="text" nz-input
                                                                                        formControlName="pinCode"
                                                                                        placeholder="Please Enter Pin Code" />
                                                                                </nz-input-group>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div>
                                                                    <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Please Enter city!">
                                                                                <nz-input-group>
                                                                                    <label>City</label>
                                                                                    <input type="text" nz-input
                                                                                        formControlName="city"
                                                                                        placeholder="Please Enter city" />
                                                                                </nz-input-group>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div>
                                                                </div>
                                                                <div nz-row [nzGutter]="16">
                                                                    <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Please Enter state!">
                                                                                <nz-input-group>
                                                                                    <label>State</label>
                                                                                    <input type="text" nz-input
                                                                                        formControlName="state"
                                                                                        placeholder="Please Enter state" />
                                                                                </nz-input-group>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div>
                                                                </div>
                                                                <button nz-button
                                                                    class="login-form-button login-form-margin"
                                                                    style="margin-right: 10px;"
                                                                    (click)="isEditAddress = false">Cancel</button>
                                                                <button nz-button
                                                                    class="login-form-button login-form-margin"
                                                                    (click)="onUpdate('ADDRESS')"
                                                                    [nzType]="'primary'">Update</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-center" *ngIf="KYCData">Identity <i
                                                            class="fas fa-edit" style="float: right;" nz-tooltip
                                                            nzTooltipTitle="Edit Identity"
                                                            (click)="editKYC('IDENTITY')"></i></h6>
                                                    <nz-descriptions *ngIf="KYCData && !isEditIdentity">
                                                        <nz-descriptions-item nzTitle="Identity ID">
                                                            {{KYCData.document.id}}
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="Identity Name">
                                                            {{KYCData.document.name}}
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="Identity Type">
                                                            {{_appService.IdentityType[KYCData.document.type]}}
                                                        </nz-descriptions-item>
                                                        <nz-descriptions-item nzTitle="attachment">
                                                            <img [src]="KYCData.document.attachment"
                                                                alt="Identity Image"
                                                                style="width: 100px;height: 100px;" />
                                                        </nz-descriptions-item>
                                                    </nz-descriptions>
                                                    <div *ngIf="isEditIdentity" nz-row [nzGutter]="16">
                                                        <div nz-col [nzSpan]="24">
                                                            <form nz-form [formGroup]="documentForm" class="login-form">
                                                                <div nz-row [nzGutter]="16">
                                                                    <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Please Enter Identity ID!">
                                                                                <nz-input-group>
                                                                                    <label>Identity ID</label>
                                                                                    <input type="text" nz-input
                                                                                        formControlName="id"
                                                                                        placeholder="Please Enter Identity ID" />
                                                                                </nz-input-group>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div>
                                                                    <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Please Enter Identity Name!">
                                                                                <nz-input-group>
                                                                                    <label>Identity Name</label>
                                                                                    <input type="text" nz-input
                                                                                        formControlName="name"
                                                                                        placeholder="Please Enter Identity Name" />
                                                                                </nz-input-group>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div>
                                                                </div>
                                                                <div nz-row [nzGutter]="16">
                                                                    <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Select Document!">
                                                                                <nz-select formControlName="type"
                                                                                    nzPlaceHolder="Select Document"
                                                                                    style="width: 100%;" id="type"
                                                                                    nzAllowClear>
                                                                                    <nz-option
                                                                                        *ngFor="let item of IdentityType;"
                                                                                        nzValue="{{item.value}}"
                                                                                        nzLabel="{{item.name}}">
                                                                                    </nz-option>
                                                                                </nz-select>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div>
                                                                    <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-label nzFor="file" [nzSpan]="4">
                                                                                Identity Image</nz-form-label>
                                                                            <nz-form-control [nzSpan]="11">
                                                                                <input type="file" id="file"
                                                                                    formControlName="fileInput"
                                                                                    (change)="handleFileInput($event.target.files, 'IDENTITY')">
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                        <nz-descriptions *ngIf="KYCData">
                                                                            <nz-descriptions-item
                                                                                nzTitle="Document Attachment">
                                                                                <img [src]="ImageLink" alt="Attachment"
                                                                                    style="width: 100px;height: 100px;" />
                                                                            </nz-descriptions-item>
                                                                        </nz-descriptions>
                                                                    </div>
                                                                    <!-- <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Please Enter city!">
                                                                                <nz-input-group>
                                                                                    <label>City</label>
                                                                                    <input type="text" nz-input
                                                                                        formControlName="city"
                                                                                        placeholder="Please Enter city" />
                                                                                </nz-input-group>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div> -->
                                                                </div>
                                                                <!-- <div nz-row [nzGutter]="16"> -->
                                                                <!-- <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-control
                                                                                nzErrorTip="Please Enter state!">
                                                                                <nz-input-group>
                                                                                    <label>State</label>
                                                                                    <input type="text" nz-input
                                                                                        formControlName="state"
                                                                                        placeholder="Please Enter state" />
                                                                                </nz-input-group>
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                    </div> -->
                                                                <!-- <div nz-col [nzSpan]="12">
                                                                        <nz-form-item>
                                                                            <nz-form-label nzFor="file" [nzSpan]="4">
                                                                                Image</nz-form-label>
                                                                            <nz-form-control [nzSpan]="11">
                                                                                <input type="file" id="file"
                                                                                    [(ngModel)]="fileInput"
                                                                                    (change)="handleFileInput($event.target.files, 'DOCUMENT')">
                                                                            </nz-form-control>
                                                                        </nz-form-item>
                                                                        <nz-descriptions *ngIf="KYCData">
                                                                            <nz-descriptions-item nzTitle="Document Attachment">
                                                                                <img [src]="ImageLink"
                                                                                    alt="Attachment"
                                                                                    style="width: 100px;height: 100px;" />
                                                                            </nz-descriptions-item>
                                                                        </nz-descriptions>
                                                                    </div> -->
                                                                <!-- </div> -->
                                                                <button nz-button
                                                                    class="login-form-button login-form-margin"
                                                                    style="margin-right: 10px;"
                                                                    (click)="isEditIdentity = false">Cancel</button>
                                                                <button nz-button
                                                                    class="login-form-button login-form-margin"
                                                                    (click)="onUpdate('IDENTITY')"
                                                                    [nzType]="'primary'">Update</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </nz-tab>
                                            </nz-tabset>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </nz-table>
                <div class="text-center p-2">
                    <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                        [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)"
                        [nzTotal]="count" [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)"
                        [nzShowTotal]="rangeTemplate">
                    </nz-pagination>
                    <ng-template #totalTemplate let-total>
                        Total {{ total }} items
                    </ng-template>
                    <ng-template #rangeTemplate let-range="range" let-total>
                        {{ range[0] }}-{{ range[1] }} of {{ total }} items
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div nz-row [nzGutter]="16" *ngIf="isFormVisiable">
    <div nz-col [nzSpan]="20" style="position:sticky;top: 2px;">
        <ng-template #cardTitls>
            <span>{{isEditing?'Update Partner':'Create Partner'}}
            </span>
        </ng-template>
        <nz-card [nzTitle]="cardTitls">
            <form nz-form [formGroup]="myForm" class="login-form">
                <div nz-row [nzGutter]="16">
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please Enter Name!">
                                <nz-input-group>
                                    <label>Name</label>
                                    <input type="text" nz-input formControlName="name" placeholder="Name" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please Enter Phone Number!">
                                <nz-input-group>
                                    <label>Phone Number</label>
                                    <input type="tel" nz-input formControlName="phoneNumber" placeholder="Phone Number"
                                        maxlength="10" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row [nzGutter]="16">
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please Enter Email!">
                                <nz-input-group>
                                    <label>Email</label>
                                    <input type="email" nz-input formControlName="email" placeholder="Email" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please Enter Date of Birth!">
                                <p>Date of Birth</p>
                                <nz-date-picker formControlName="date"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row [nzGutter]="16">
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Select City!">
                                <label>City</label>
                                <nz-select formControlName="cityId" nzPlaceHolder="Select City" style="width: 100%;"
                                    id="City" nzAllowClear>
                                    <nz-option *ngFor="let item of citiesList;" nzValue="{{item._id}}"
                                        nzLabel="{{item.city_name}}">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Select Localities!">
                                <label>Localities</label>
                                <nz-select formControlName="localities" nzPlaceHolder="Select Localities"
                                    style="width: 100%;" nzAllowClear nzMode="multiple">
                                    <nz-option *ngFor="let item of LocalitiesList;" nzValue="{{item._id}}"
                                        nzLabel="{{item.name}}">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row [nzGutter]="16">
                    <div nz-col [nzSpan]="24" class="text-right">
                        <button nz-button (click)="addSkills()" [nzType]="'default'" nz-tooltip
                        nzTooltipTitle="Add Skill">Add Skill</button>
                    </div>
                </div>
                <div formArrayName="skills">
                    <div *ngFor="let skill of skills.controls let i = index;">
                        <div [formGroupName]="i">
                            <div nz-row [nzGutter]="16">
                                <div nz-col [nzSpan]="6">
                                    <nz-form-item>
                                        <nz-form-label nzSpan="24">Main Category</nz-form-label>
                                        <nz-form-control nzErrorTip="Select Main Category!">
                                            <nz-select formControlName="mainCategoryId"
                                                nzPlaceHolder="Select Main Category" style="width: 100%;" nzAllowClear
                                                (nzBlur)="changeCategory(skill, i)">
                                                <nz-option *ngFor="let item of categoryList;" nzValue="{{item._id}}"
                                                    nzLabel="{{item.name}}">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="16">
                                    <nz-form-item>
                                        <nz-form-label nzSpan="24">Sub Category</nz-form-label>
                                        <nz-form-control nzSpan="13">
                                            <input type="text" nz-input formControlName="Sub_Category_ID_Array"
                                                placeholder="Select Sub Category" (click)="onModal(skill)" readonly>
                                        </nz-form-control>
                                        <nz-form-control nzSpan="10" [nzOffset]="1">
                                            <textarea type="text" nz-input formControlName="Sub_Category_Names"
                                                placeholder="Sub Category Names" readonly></textarea>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="2" class="text-right">
                                    <a (click)="removeSkill(i)" nz-tooltip
                                    nzTooltipTitle="Remove Skill"><i class="fa fa-trash"></i></a>
                                    <!-- <button nz-button nzType="primary">
                                        
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-row [nzGutter]="16" *ngIf="isEditing">
                    <div nz-col [nzSpan]="12">
                        <nz-form-item>
                            <nz-form-label nzFor="file" [nzSpan]="4">
                                Profile Pic:</nz-form-label>
                            <nz-form-control [nzSpan]="11">
                                <input type="file" id="file" formControlName="fileInput"
                                    (change)="handleFileInput($event.target.files, 'PROFILEPIC')">
                            </nz-form-control>
                        </nz-form-item>
                        <img [src]="ImageLink" alt="PROFILE PIC" style="width: 100px;height: 100px;" />
                    </div>
                </div>

                <button nz-button class="login-form-button login-form-margin" style="margin-right: 10px;"
                    (click)="onReset()">Cancel</button>
                <button nz-button class="login-form-button login-form-margin" (click)="onSubmit()"
                    [nzType]="'primary'">{{isEditing?'Update':'Create'}}</button>
            </form>
        </nz-card>
    </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Sub Category" (nzOnCancel)="handleCancel()" nzOkText='Ok'
    (nzOnOk)="onSendData()">
    <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label [nzSpan]="24">Select Sub Category</nz-form-label>
                <nz-form-control [nzSpan]="24" nzErrorTip="Select Sub Category">
                    <nz-select [formControl]="subCategory" [nzMaxTagCount]="10" nzMode="multiple"
                        nzPlaceHolder="Select Sub Category">
                        <nz-option *ngFor="let item of subCategoryList; let i=index" [nzValue]="item._id"
                            [nzLabel]="item.name">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</nz-modal>