/* You can add global styles to this file, and also import other style files */

@import "~ng-zorro-antd/style/index.min.css";

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  /* background-color: #502e91; */
  font-family: "Work Sans", sans-serif;
}

.header {
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.container-fluid {
  padding-left: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 45rem;
  padding-right: 0;
}

.container {
  max-width: 95%;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
}

.ui-button.ui-state-default.ui-button-warning {
  background-color: #faa21b;
  border: 2px solid #faa21b;
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
  background-color: #502e91;
  border: none;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active :hover {
  background-color: #faa21b;
  border: none;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav li a .ui-tabview-left-icon {
  font-size: 20px;
}
.ui-tabview .ui-tabview-title {
  font-family: "Work sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
}
.ui-button-text-icon-left .ui-button-text {
  font-family: "Work sans", sans-serif;
  font-size: 16px;
  padding: 0.25em 1em 0.25em 2.7em !important;
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li {
  border: 1px solid #faa21b;
  background-color: #faa21b;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.ui-tabview.ui-tabview-top .ui-tabview-nav li :hover {
  border: 1px solid #faa21b;
  background-color: #faa21b;
  transition: background-color 0.2s, box-shadow 0.2s;
}

/* input - field icons */

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
}

.icon {
  padding: 10px;
}

.input-field {
  display: inline !important;
}

.fun-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.delete {
  color: #FF0000 !important;
}

.status {
  color: #2b88de !important;
}

.green {
  color: #00FF00;
}

.pending {
  color: #c6c806;
}

.cursor_pointer {
  cursor: pointer;
}
