<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <h3 class="text-center base-margin-bottom">Catgories</h3>
        </div>
        <div class="col-md-9 col-lg-9 text-right">
            <button nz-button nzType="primary" (click)="create(1, 'N')">Create Category</button>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <nz-table [nzLoading]="isTableLoading" [nzData]="CategoriesList" [nzShowPagination]="false"
                nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th nzWidth="60px"></th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of CategoriesList;index as AI;">
                        <tr>
                            <td [nzExpand]="view === AI" (nzExpandChange)="onExpandChange(AI, $event)">
                            </td>
                            <td>{{ data.name | titlecase }}</td>
                            <td class="text-left">
                                <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a>
                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Category?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data, 1)"
                                    (nzOnCancel)="cancel()">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr [nzExpand]="view === AI">
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <h4 class="text-center base-margin-bottom">Sub Catgories</h4>
                                </div>
                                <div class="col-md-9 col-lg-9 text-right">
                                    <button nz-button nzType="primary" (click)="create(2, 'N')">Create Sub-Category</button>
                                </div>
                            </div>

                            <nz-table [nzLoading]="isTableLoading" [nzData]="SubCategories" [nzShowPagination]="false" nzTableLayout="fixed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of SubCategories;">
                                        <td>{{ item.name | titlecase }}</td>
                                        <td class="text-left">
                                            <a class="base-margin-right" (click)="create(2, 'U', item)">Update</a>
                                            <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Sub-Category?"
                                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(item, 2)"
                                                (nzOnCancel)="cancel()">
                                                <i nz-icon nzType="delete" nzTheme="fill" style="color: #f00;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="categoryType === 1 ? 'Create Category' : 'Create Sub-Category'"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="name">{{categoryType === 1 ? 'Category' : 'Sub-Category'}} Name <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Name" type="text" [(ngModel)]="categoryName" id="name"
                    class="form-control" />
            </div>
        </div>
    </div>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleUpdate" [nzTitle]="categoryType === 1 ? 'Update Category' : 'Update Sub-Category'"
    (nzOnCancel)="handleCancelUpdate()" (nzOnOk)="updateCategory()">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group">
                <label for="name">{{categoryType === 1 ? 'Category' : 'Sub-Category'}} Name <sup>*</sup></label>
                <input nz-input nzPlaceHolder="Name" type="text" [(ngModel)]="categoryName" id="name"
                    class="form-control" />
            </div>
        </div>
    </div>
</nz-modal>