<div class="container-fluid">
    <div class="row p-1">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false"
                nzTableLayout="fixed">
                <thead>
                    <tr>
                        <th nzWidth="60px"></th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of tableList;index as AI;">
                        <tr>
                            <td [nzExpand]="view === AI"
                                (nzExpandChange)="onExpandChange(AI, $event)">
                            </td>
                            <td>
                                <a [routerLink]="['/admin/messages/outgoing/',data]">{{ data.name }}</a>
                            </td>
                            <td>{{data.email}}</td>
                            <td class="text-left">
                                <a (click)="update(data)" class="base-margin-right">Update Password</a>
                                <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this Admin?"
                                    nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(data)"
                                    (nzOnCancel)="cancel()">
                                    <i nz-icon nzType="delete" nzTheme="fill" style="color: #f00;"></i>
                                </a>
                            </td>
                        </tr>
                        <tr [nzExpand]="view === AI">
                            <div class="container-fluid">
                                <div class="row base-margin-bottom">
                                    <div class="col-md-12 col-lg-12">
                                        <h4 class="text-center">Permissions</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Admin</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_admins">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Banners</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_banners">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Buyers</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_buyers">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Categories</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_categories">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Coupons</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_coupons">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Orders</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_orders">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Products</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_products">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Vendors</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_vendors">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Wholesale Banners</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_wholesale_banners">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Wholesale Categories</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch
                                                            [(ngModel)]="Permissions.manage_wholesale_categories">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Wholesale Coupons</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_wholesale_coupons">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Wholesale Orders</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_wholesale_orders">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div nz-row style="border-bottom: 1px dashed #ddd;" *ngIf="Permissions">
                                                    <div nz-col nzSpan="18">
                                                        <p class="profile-text">Manage Wholesale Products</p>
                                                    </div>
                                                    <div nz-col nzSpan="6">
                                                        <nz-switch [(ngModel)]="Permissions.manage_wholesale_products">
                                                        </nz-switch>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row base-margin-top">
                                    <div class="col-md-12 col-lg-12 text-center">
                                        <button nz-button nzType="primary"
                                            (click)="updatePermissions(data._id)">Update Permissions</button>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <div class="text-center p-2">
                <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
                    [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)" [nzTotal]="count"
                    [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)" [nzShowTotal]="rangeTemplate">
                </nz-pagination>
                <ng-template #totalTemplate let-total>
                    Total {{ total }} items
                </ng-template>
                <ng-template #rangeTemplate let-range="range" let-total>
                    {{ range[0] }}-{{ range[1] }} of {{ total }} items
                </ng-template>
            </div>
        </div>
    </div>
</div>