<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="isFormVisiable?14:24">
    <div nz-row [nzGutter]="16" style="margin-bottom: 10px;">
      <div nz-col [nzSpan]="12">
        <div class="form-group">
          <p class="no-margin" for="service">Service <sup>*</sup></p>
          <nz-select class="base-margin-bottom" [formControl]="serviceId" nzPlaceHolder="Select Service"
            style="width: 100%;" id="service">
            <nz-option *ngFor="let item of ServicesList;" nzValue="{{item._id}}" nzLabel="{{item.name}}">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-col [nzSpan]="4" style="padding-top: 50px;">
        <button nz-button (click)="onGetAddForm()" [nzType]="'primary'"><i nz-icon nzType="plus" nzTheme="outline"></i>
          <i class="fas fa-plus"></i> Add Extra</button>
      </div>
      
    </div>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <nz-table [nzLoading]="isTableLoading" [nzData]="tableList" [nzShowPagination]="false" nzTableLayout="fixed">
          <thead>
            <tr>
              <th><i class="fas fa-list-ol"></i> S.No.</th>
              <th><i class="fas fa-puzzle-piece"></i> Extra Name</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of tableList;index as AI;">
              <tr>
                <td>{{data.s_no}}</td>
                <td>{{data.name}}</td>
                <td class="text-left">
                    <!-- <a class="base-margin-right" (click)="create(1, 'U', data)">Update</a> -->
                    <a class="delete" nz-popconfirm nzPopconfirmTitle="Are you sure delete this Extra?"
                      nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirmCategory(data)" (nzOnCancel)="cancel()">
                      Delete
                    </a>
                  </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
        <div class="text-center p-2">
          <nz-pagination [nzHideOnSinglePage]="true" [nzPageIndex]="currentPage" [nzShowSizeChanger]="true"
            [nzPageSizeOptions]="nzPageSizeOptions" (nzPageSizeChange)="onLimitChange($event)" [nzTotal]="count"
            [nzPageSize]="limit" (nzPageIndexChange)="onNextPage($event)" [nzShowTotal]="rangeTemplate">
          </nz-pagination>
          <ng-template #totalTemplate let-total>
            Total {{ total }} items
          </ng-template>
          <ng-template #rangeTemplate let-range="range" let-total>
            {{ range[0] }}-{{ range[1] }} of {{ total }} items
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div nz-col [nzSpan]="10" *ngIf="isFormVisiable" style="position:sticky;top: 2px;">
    <ng-template #cardTitls>
      <span><i nz-icon nzType="plus-circle" nzTheme="outline"></i> {{isEditing?'Update City':'Add Extra'}}
      </span>
    </ng-template>

    <nz-card [nzTitle]="cardTitls">
      <form nz-form [formGroup]="myForm" class="login-form">
        <div style="margin-bottom: 10px;">Service Name: {{serviceName}}</div>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please Enter Serial Number!">
            <nz-input-group>
              <input type="text" nz-input formControlName="s_no" placeholder="Serial Number" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please Enter Extra Name!">
            <nz-input-group>
              <input type="text" nz-input formControlName="extra_name" placeholder="Extra Name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" style="margin-right: 10px;" (click)="onReset()"><i
            nz-icon nzType="close" nzTheme="outline"></i>Cancel</button>
        <button nz-button [nzLoading]="isBtnLoading" class="login-form-button login-form-margin" (click)="onSubmit()"
          [nzType]="'primary'">{{isEditing?'Update':'Create'}}</button>
      </form>
    </nz-card>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12 col-lg-12 text-right">
    <button nz-button nzType="primary" (click)="create()">Create Service</button>
  </div>
</div> -->
<!-- <div class="row p-1">
  <div class="col-sm-12 col-md-12 col-lg-12">
    
  </div>
</div> -->
<!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="Create Admin" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label for="sno">S.No. <sup>*</sup></label>
        <input nz-input nzPlaceHolder="Serial No" type="text" [(ngModel)]="sno" id="sno" class="form-control" />
      </div>
      <div class="form-group">
        <label for="name">City Name <sup>*</sup></label>
        <input nz-input nzPlaceHolder="City Name" type="text" [(ngModel)]="name" id="name" class="form-control" />
      </div>
    </div>
  </div>
</nz-modal> -->